<p><a href="#" class="btn">Button</a></p>
<p><a href="#" class="btn alternate">Donate Now</a></p>
<p><a href="#" class="btn-next">Next Article Button</a></p>
<p><a href="#" class="more-by-author">More by Author</a></p>
<p><a href="#" class="text-btn">Text Button</a></p>