<!--<form action="#" method="post" class="inline-form search-form">           
    <fieldset>
	    <legend class="is-vishidden">Search</legend>
	    <label for="search-field" class="is-vishidden">Search</label>
	    <input type="search" placeholder="Search" id="search-field" class="search-field" />
	    <button class="search-submit">
	    	<span class="icon-search" aria-hidden="true"></span>
	    	<span class="is-vishidden">Search</span>
	    </button>
    </fieldset>
</form> -->


<div id="header-search">
<form role="search" method="get" action="https://inn.org/">
	<div class="input-append">
		<input type="text" placeholder="Search" class="input-medium appendedInputButton search-query" value="" name="s"><button type="submit" class="search-submit btn"><i class="icon-search"></i></button>
	</div>
</form>
</div>
