<form action="#" method="post" class="inline-form newsletter-form">           
    <fieldset>
	    <h3>Stay up to Date</h3>
	    <p>News from INN and our members. <b>Delivered weekly.</b></p>
	    <div class="inline-container">
	   		<input type="newsletter" placeholder="e-mail address" id="newsletter-field" class="newsletter-field" />
	   		</div>
	    <button class="newsletter-submit">Suscribe</button>
    </fieldset>
</form>

<!--
<form action="#" method="post" class="inline-form newsletter-form">           
    <fieldset>
	    <legend>Sign up for our newsletter</legend>
	    <label for="newsletter-scope">Sign up for our newsletter</label>
	    <div class="inline-container">
	   		<input type="newsletter" placeholder="e-mail address" id="newsletter-field" class="newsletter-field" />
	    	<button class="newsletter-submit">Suscribe</button>
		</div>
    </fieldset>
</form>