<section id="email" class="interstitial branding">
	<div class="content">
		<img src="../../images/mail-squares.png"
		<form action="#" method="post" class="inline-form newsletter-form">           
		    <fieldset>
			    <h3>Stay up to Date</h3>
			    <p>News from INN and our members. <b>Delivered weekly.</b></p>
			    <div class="inline-container">
			   		<input type="newsletter" placeholder="e-mail address" id="newsletter-field" class="newsletter-field" />
			   		</div>
			    <button class="newsletter-submit">Suscribe</button>
		    </fieldset>
		</form>
	</div>
</section>