div.span8 {
	width: 65%;
	margin-left: 0;
	display: block;
	min-height: 28px;
	box-sizing: border-box;
	float: left;
}

aside#sidebar {
	width: 31%;
	display: block;
	min-height: 28px;
	box-sizing: border-box;
	float: left;
	margin-left: 4%;
}