<ul id="credit-card-fee">
    <li>
        <label for="credit-card-fee"><input id="credit-card-fee" name="checkbox" type="checkbox">I would like to pay the credit card fee associated with processing this gift! (Fee equals 2.9% of your contribution, plus 30 cents per transaction.)</label>
    </li>
    <li>
        <label for="credit-card-fee"><input id="credit-card-fee" name="checkbox2" type="checkbox">I would like to receive occasional updates about INN and its members.</label>
    </li>
</ul>

<!--
<form action="#">
    <fieldset class="options">
        <legend>Checkbox <abbr title="Required">*</abbr></legend>
        <ul>
            <li><label for="checkbox1"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked"> Choice A</label></li>
            <li><label for="checkbox2"><input id="checkbox2" name="checkbox" type="checkbox"> Choice B</label></li>
            <li><label for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Choice C</label></li>
        </ul>
    </fieldset>
</form>