<h2 class="heading">Donate</h2>
<p id="donate">INN is a <a href="#">501(c)(3) federally recognized nonprofit</a> and your tax-deductible donation helps support our work on behalf of our  <a href="#">120+ nonprofit members.</a></p>
<ul id="donation_form">
    <li id="form-1">
        <label class="gfield_label">I would like to contribute:</label>
        <input name="input_1" type="text" value="$10.00">
        <ul class="donate-now">
            <li class="choice-1">
                <input type="radio" id="per-month" name="amount"/>
                <label for="per-month">Per Month</label>
             </li>
             <li class ="choice-2">
                <input type="radio" id="per-year" name="amount"/>
                <label for="per-year">Per Year</label>
            </li>
            <li class ="choice-3">
                <input type="radio" id="one-time" name="amount"/>
                <label for="one-time">One Time</label>
            </li>
        </ul>
    </li>
    <li id="form-2">
        <div class="first-name-last-name">
            <span class="first-name">
                <label class="gfield_label">First Name</label>
                <input name="two-inputs-one-line" type="text">
            </span><span class="last-name">
                <label class="gfield_label">Last Name</label>
                <input name="two-inputs-one-line" type="text">
            </span>
        </div>
    </li>
    <li id="form-3">
        <label class="gfield_label">Email</label>
        <input name="input_2" type="text">
    </li>
    <li id="form-4">
         <label class="gfield_label">Street Address</label>
        <input name="input_3" type="text">
    </li>
    <li id="form-5">
            <div class="first-name-last-name">
            <span class="first-name">
                <label class="gfield_label">City</label>
                <input name="two-inputs-one-line" type="text">
            </span><span class="last-name">
                <label class="gfield_label">State / Province / Region</label>
                <input name="two-inputs-one-line" type="text">
            </span>
        </div>
    </li>
    <li id="form-6">
        <label class="gfield_label">Zip / Postal Code</label>
        <input name="input_2" type="text">
    </li>
    <ul id="credit-card-fee">
        <li>
            <label for="credit-card-fee"><input id="credit-card-fee" name="checkbox" type="checkbox">I would like to pay the credit card fee associated with processing this gift! (Fee equals 2.9% of your contribution, plus 30 cents per transaction.)</label>
        </li>
    </ul>
    <li id="form-4">
        <label class="gfield_label">Card Number</label>
        <input name="input_3" type="text">
    </li>
    <li id="form-8">
        <label class="gfield_label">Cardholder Name</label>
        <input name="input_3" type="text">
    </li>
    <ul id="credit-card-fee">
        <li>
            <label for="credit-card-fee"><input id="credit-card-fee" name="checkbox2" type="checkbox">I would like to receive occasional updates about INN and its members.</label>
        </li>
    </ul>
</ul>


<!--
<fieldset>
    <div class="field-container">
        <label for="text">Text Input <abbr title="Required">*</abbr></label>
        <input id="text" type="text" placeholder="Text Input">
    </div>
    <div class="field-container">
        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Type your Password">
    </div>
    <div class="field-container">
        <label for="webaddress">Web Address</label>
        <input id="webaddress" type="url" placeholder="http://yoursite.com">
    </div>
    <div class="field-container">
        <label for="emailaddress">Email Address</label>
        <input id="emailaddress" type="email" placeholder="name@email.com">
    </div>
    <div class="field-container">
        <label for="search">Search</label>
        <input id="search" type="search" placeholder="Enter Search Term">
    </div>
    <div class="field-container">
        <label for="text">Number Input <abbr title="Required">*</abbr></label>
        <input id="text" type="number" placeholder="Enter a Number" pattern="[0-9]*">
    </div>
    <div class="field-container">
        <label for="textarea">Textarea</label>
        <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
    </div>
    <div class="field-container">
        <label class="error">Error Input</label>
        <input class="is-error" type="text" placeholder="Text Input">
    </div>
    <div class="field-container">
        <label  class="valid">Valid</label>
        <input  class="is-valid" type="text" placeholder="Text Input">
    </div>
</fieldset>