<div class="page" id="page">
	{{> organisms-header }}
	{{> molecules-block-hero }}
	{{> organisms-homepage-links }}
	{{> organisms-about-inn }}
	<!--{{> molecules-newsletter }}-->
</div>
{{> organisms-footer }}