<div class="page" id="page">
	{{> organisms-header }}
	{{> molecules-block-hero }}
	{{> organisms-homepage-links }}
	{{> organisms-about-inn }}
	{{> molecules-newsletter }}
	{{> organisms-what-we-offer}}
	{{> organisms-hire-us }}
	{{> organisms-our-members }}
	<section id="testimonial" class="interstitial branding">
		<div class="content">
			<img src="../../images/lahood.jpg">
			<p>“More than anything, INN has given us a sense that we are not toiling in isolation, that we are part of a larger community of nonprofit news organizations that are thriving through collaboration, pursuit of common goals and expression of mutual support.”</p>
			<p class="credit">– Lila Lahood, <a href="http://sfpublicpress.org">San Francisco Public Press</a></p>
		</div>
	</section>
	{{> organisms-membership-info }}
	{{> organisms-supporters }}
</div>
{{> organisms-footer }}