<div class="page clearfix" id="page">
	{{> organisms-header }}
	<div id="main" class="clearfix">
		<div class="l-two-col">
			<div id="content" class="span8">
				{{> organisms-latest-posts }}
			</div>
			<aside id="sidebar">
				{{> organisms-our-team }}
			</aside>
		</div>
	</div>
</div>
{{> organisms-footer }}
