<div id="header" class="clearfix">
	{{> organisms-header }}
	{{> molecules-nerds-nav }}
</div>
<div class="page" id="main">
	<div role="main">
		<div class="l-two-col clearfix">
			<div id="content" class="span8">
				{{> organisms-latest-posts }}
			</div>
			<aside id="sidebar">
				{{> organisms-about-nerds }}
				{{> organisms-our-team }}				
				{{> organisms-friends }}
			</aside>
		</div>
	</div>
</div>
{{> organisms-footer }}
