<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> organisms-whole-article}}
		<div class="article-bottom">
			{{> molecules-newsletter-article-bottom}}
			{{> molecules-byline-author-combo}}
			{{> organisms-read-next}}
		</div>
	</div>
	{{> organisms-footer }}
</div>
