/*  COLORS  */
$white: #ffffff;
$black: #000000;


/* theme colors */
$primary: #09C9FF; 		//tabriz
$accent1: #76F9EF;	 	//turquoise
$accent2: #0FAE92;	 	//emerald
$accent3: #F7F227;		//factory yellow
$accent4: #F9D02B;		//citrine
$accent5: #F77710;		//mandarin
$accent6: #DF4646;		//vermillion
$accent7: #EC50B7;		//fuchsia
$accent8: #6066DD;		//royal blue

/* cmyk colors */
$cmyk: #008ABA; 		//tabriz
$cmyk1: #6bd9de;	 	//turquoise
$cmyk2: #3e7c65;	 	//emerald
$cmyk3: #ffe800;		//factory yellow
$cmyk4: #ffb511;		//citrine
$cmyk5: #ff8038;		//mandarin
$cmyk6: #cb4f53;		//vermillion
$cmyk7: #af4879;		//fuchsia
$cmyk8: #3f43ad;		//royal blue

/* secondary colors */
$secondary: #59D7FB; 		//tabriz
$secondary1: #AFF9F4;	 	//turquoise
$secondary2: #36CBB0;	 	//emerald
$secondary3: #F6F385;		//factory yellow
$secondary4: #FFE074;		//citrine
$secondary5: #FBA167;		//mandarin
$secondary6: #E77071;		//vermillion
$secondary7: #FC75CE;		//fuchsia
$secondary8: #7F85ED;		//royal blue

/* brand neutrals */
$neutral1: #1C1C1C;		//asphalt
$neutral2: #777777; 	//dark-mid-grey
$neutral3: #909799; 	//dolphin
$neutral4: #AAAAAA; 	//light-mid-grey
$neutral5: #EDF1F4;		//smoke

/* website neutrals*/
$neutral6: #ddd;		//light-mid-grey
$neutral8: #555555; 	//dark-mid-grey

/* website button hover colors*/
$hover1: #00B5E8;		//tabriz
$hover2: #df6807;		//mandarin



/* errors, alerts, etc */
$error: $accent6;		//red
$valid: $accent2;		//green

