<aside id="largo-author-widget-2">
	<div class="author-box clearfix">
		<h3 class="widget-title">About
			<span><a class="url" href="https://nerds.inn.org/author/aschweigert/" rel="author">Author Name</a></spam>
		</h3>
		<div class="photo">
			<img src="{{img.avatar.src}}" alt="Avatar" class="avatar">
		</div>
		<p>As INN's Manager of Support, Training and Documentation, Jack Brighton helps INN members take full advantage of the tools we build and level up their technology skills.</p>
		</span>
		<ul class="social-links">
			<li class="icon-twitter"></li>
			<li class="icon-facebook"></li>
			<li class="icon-linkedin"></li>
			<li class="icon-google-plus"></li>
			<li class="author-posts-link">
				<a class="more-by-author" href="https://nerds.inn.org/author/aschweigert/" rel="author">More by Author</a>
			</li>
		</ul>
	</div>
</aside>