<div class="about">
	<h4>About <a href="#">Author Name</a></h4>
</div> 

<img src="{{img.avatar.src}}" alt="Avatar" class="avatar" />

<span class="author-box"><p>As INN's Manager of Support, Training and Documentation, Jack Brighton helps INN members take full advantage of the tools we build and level up their technology skills.</p></span>

<ul class="icons inline-list">
	<li class="icon-twitter"></li>
	<li class="icon-facebook"></li>
	<li class="icon-stumbleupon"></li>
	<li class="icon-linkedin"></li>
	<li class="icon-pinterest"></li>
	<li class="icon-google-plus"></li>
	<li class="icon-youtube"></li>
	<li class="icon-feed"></li>
	<li class="icon-search"></li>
	<li class="icon-play"></li>
	<li class="author-posts-link">
		<a class="more-by-author" href="#">More by Author</a>
</ul>