<aside class="type-pull-quote">
	<p>We, representatives of nonprofit news organizations, gather at a time when investigative reporting, so crucial to a functioning democracy, is under threat. There is an urgent need to nourish and sustain the emerging investigative journalism ecosystem to better serve the public.</p>
	<h6><a href="https://inn.org/pocantico-declaration/">— The Pocantico Declaration</a></h6>
</aside>