<header id="site-header">
	<a itemprop="url" href="https://inn.org">
		<img class="header_img" src="../../images/INN-Primary-Lockup-Med-Transparent-Tabriz-1.png">
	</a>
	<aside id="text-15">
		<div class="textwidget">
			<a href="https://inn.org/donate" class="btn alternate">Donate Now</a>
		</div>
	</aside>
</header>
<nav id="nav" class="nav">
	<ul>
		<li class="dropdown">
			<a href="https://inn.org/programs/">Programs<b class="caret"></b></a>
			<div class="dropdown-menu-container">
				<ul class="dropdown-menu-content">
					<li><a href="https://inn.org/projects/education/">Education</a></li>
					<li><a href="https://inn.org/projects/fiscal-sponsorship/">Fiscal Sponsorship</a></li>
					<li><a href="https://inn.org/projects/largo-project/">Largo Project</a></li>
					<li><a href="https://inn.org/projects/insurance-assistance/">Insurance Assistance</a></li>
					<li><a href="https://inn.org/projects/innovation-fund/">INNovation Fund</a></li>
					<li><a href="https://inn.org/projects/legal-resources/">Legal Resources</a></li>
					<li><a href="https://inn.org/projects/technology-assistance/">Technology Services</a></li>
					<li><a href="https://inn.org/projects/industry-resources/">Business Resources</a></li>
				</ul>
			</div>
		</li>
		<li><a href="#">Member Directory</a></li>
		<li><a href="#">Upcoming Events</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">For Members</a></li>
		<li><a href="#">For Funders</a></li>
	</ul>
</nav>