<div class="sticky-nav-wrapper nocontent">
	<div class="sticky-nav-holder">
		<div class="sticky-nav-container">
			<nav id="sticky-nav" class="sticky-navbar navbar clearfix">
				<div class="container">
					<div class="nav-right">
						<ul id="header-extras">
							<li class="donate"><a itemprop="url" class="donate-link" href="https://inn.org/donate"><span><i class="icon-heart"></i>Donate Now</span></a></li>
							<li id="sticky-nav-search"><a href="#" class="toggle"><i class="icon-search" title="Search" role="button"></i></a>
								<form class="form-search" role="search" method="get" action="https://inn.org/">
									<div class="input-append">
										<span class="text-input-wrapper"><input type="text" placeholder="Search" class="input-medium appendedInputButton search-query" value="" name="s"></span>
										<button type="submit" class="search-submit btn">Go</button>
									</div>
								</form>
							</li>
							<li>
								<!-- "hamburger" button (3 bars) to trigger off-canvas navigation -->
								<a class="btn btn-navbar toggle-nav-bar" title="More">
									<div class="bars">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<!-- BEGIN MOBILE MENU (hidden on desktop) -->
					<div class="nav-left">
						<ul>
							<li class="home-icon"><a href="https://inn.org/"><img src="https://1l9nh32zekco14afdq2plfsw-wpengine.netdna-ssl.com/wp-content/uploads/2015/05/INN-Primary-Lockup-Small-Transparent-Tabriz.png" class="attachment-home-logo" alt="logo"></a></li>
						</ul>
					</div>
					<!-- END MOBILE MENU -->
					<!-- BEGIN DESKTOP MENU -->
					<div class="nav-shelf">
						<ul class="nav">
							<li class="home-icon"><a href="https://inn.org/"><img src="https://1l9nh32zekco14afdq2plfsw-wpengine.netdna-ssl.com/wp-content/uploads/2015/05/INN-Primary-Lockup-Small-Transparent-Tabriz.png" class="attachment-home-logo" alt="logo"></a></li>
							<li><a href="https://inn.org/programs/" class="dropdown-toggle">Programs <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="https://inn.org/projects/education/">Education</a></li>
									<li><a href="https://inn.org/projects/fiscal-sponsorship/">Fiscal Sponsorship</a></li>
									<li><a href="https://inn.org/projects/largo-project/">Largo Project</a></li>
									<li><a href="https://inn.org/projects/insurance-assistance/">Insurance Assistance</a></li>
									<li><a href="https://inn.org/projects/innovation-fund/">INNovation Fund</a></li>
									<li><a href="https://inn.org/projects/legal-resources/">Legal Resources</a></li>
									<li><a href="https://inn.org/projects/technology-assistance/">Technology Services</a></li>
									<li><a href="https://inn.org/projects/industry-resources/">Business Resources</a></li>
								</ul>
							</li>
							<li><a href="https://inn.org/members/">Member Directory</a></li>
							<li><a href="https://inn.org/events/">Upcoming Events</a></li>
							<li><a href="https://inn.org/about/">About</a></li>
							<li><a href="https://inn.org/for-members/">For Members</a></li>
							<li><a href="https://inn.org/for-funders/">For Funders</a></li>
							<li class="donate">
								<a class="donate-link" href="https://inn.org/donate"><span>Donate Now</span></a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>
<header id="site-header">
	<a itemprop="url" href="https://inn.org">
		<img class="header_img" src="../../images/INN-Primary-Lockup-Med-Transparent-Tabriz-1.png">
	</a>
	<aside id="text-15">
		<div class="textwidget">
			<a href="https://inn.org/donate" class="btn alternate">Donate Now</a>
		</div>
	</aside>
</header>
{{> molecules-primary-nav }}