<nav id="main-nav" class="navbar clearfix nav">
	<div class="navbar-inner">
		<ul>
			<li class="dropdown">
				<a href="https://inn.org/programs/">Programs<b class="caret"></b></a>
				<div class="dropdown-menu-container">
					<ul class="dropdown-menu-content">
						<li><a href="https://inn.org/projects/education/">Education</a></li>
						<li><a href="https://inn.org/projects/fiscal-sponsorship/">Fiscal Sponsorship</a></li>
						<li><a href="https://inn.org/projects/largo-project/">Largo Project</a></li>
						<li><a href="https://inn.org/projects/insurance-assistance/">Insurance Assistance</a></li>
						<li><a href="https://inn.org/projects/innovation-fund/">INNovation Fund</a></li>
						<li><a href="https://inn.org/projects/legal-resources/">Legal Resources</a></li>
						<li><a href="https://inn.org/projects/technology-assistance/">Technology Services</a></li>
						<li><a href="https://inn.org/projects/industry-resources/">Business Resources</a></li>
					</ul>
				</div>
			</li>
			<li><a href="#">Member Directory</a></li>
			<li><a href="#">Upcoming Events</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">For Members</a></li>
			<li><a href="#">For Funders</a></li>
		</ul>
		<!-- BEGIN Mobile-Only Menu -->
		<ul class="nav visible-phone">
			<li class="menu-item-has-childen dropdown">
				<a href="javascript:void(0);" class="dropdown-toggle">Global Navigation<b class="caret"></b></a>
			</li>
		</ul>
		<!-- BEGIN Mobile-Only Menu -->
	</div>
</nav>