<nav id="nav" class="nav">
	<ul>
		<li><a href="#">Programs</a></li>
		<li><a href="#">Member Directory</a></li>
		<li><a href="#">Upcoming Events</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">For Members</a></li>
		<li><a href="#">For Funders</a></li>
	</ul>
</nav><!--end .nav-->

<!--
<nav id="nav" class="nav">
	<ul>
		<li><a href="{{ link.pages-homepage }}">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="{{ link.pages-blog }}">Blog</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</nav><!--end .nav-->