<div id="footer-bg">	
	<footer id="site-footer">
		<div id="supplementary">
			<div id="footer-column-1">
				<img src="../../images/INN-Logo-Primary-RGB-Small-Transparent-WhiteTxt-Tabriz.png"/>
			</div>
			<div id="footer-column-1">
				<h5 class="footer-title">What We Offer </h5>
				<div class="footer-1-container">
					<ul id="footer-nav">
						<li id="footer-link">
							<a href="#">Business Resources</a>
						</li>
						<li id="footer-link">
							<a href="#">Insurance Assistance</a>
						</li>
						<li id="footer-link">
							<a href="#">Technology Services</a>
						</li>
						<li id="footer-link">
							<a href="#">Education</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="footer-column-1">
				<div class="footer-1-container">
					<ul id="footer-nav">
						<li id="footer-link">
							<a href="#">Legal Resources</a>
						</li>
						<li id="footer-link">
							<a href="#">INNovation Fund</a>
						</li>
						<li id="footer-link">
							<a href="#">Fiscal Sponsorship</a>
						</li>
						<li id="footer-link">
							<a href="#">Largo Project</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="footer-column-1">
				<h5 class="footer-title">About INN</h5>
				<div class="footer-1-container">
					<ul id="footer-nav">
						<li id="footer-link">
							<a href="#">Mission</a>
						</li>
						<li id="footer-link">
							<a href="#">Staff</a>
						</li>
						<li id="footer-link">
							<a href="#">Financials</a>
						</li>
						<li id="footer-link">
							<a href="#">Governance</a>
						</li>
						<li id="footer-link">
							<a href="#">Contact Us</a>
						</li>
					</ul>
				</div>
			<div id="what-we-offer-2">
			</div>
			<div id="about-inn">
			</div>
		</div>
		<div id="boilerplate">
			<div class="span6">
				<ul id="footer-social" class="social-icons">
					<li>
						<a href="https://inn.org/feed" title="Link to RSS feed">
							<iclass="icon-feed"></i>
						</a>
					</li>
					<li>
						<a href="https://inn.org/feed" title="Link to RSS feed">
							<i class="icon-facebook"></i>
						</a>
					</li>
					<li>
						<a href="https://inn.org/feed" title="Link to RSS feed">
							<i class="icon-twitter"></i>
						</a>
					</li>
					<li>
						<a href="https://inn.org/feed" title="Link to RSS feed">
							<i class="icon-youtube"></i>
						</a>
					</li>
					<li>
						<a href="https://inn.org/feed" title="Link to RSS feed">
							<i class="icon-google-plus"></i>
						</a>
					</li>
					<li>
						<a href="https://inn.org/feed" title="Link to RSS feed">
							<i class="icon-linkedin"></i>
						</a>
					</li>
				</ul>
				<div class="footer-bottom clearfix">
					<p class="footer-credit">© Copyright 2016, Institute for Nonprofit News<br>
					(818) 582-3560 | PO Box 8606, Calabasas, CA 91372 | <a href="mailto:info@inn.org">info@inn.org</a>
					</p>
					<ul id="menu-footer-bottom" class="menu">
						<li><a href="https://inn.org/about/legal/privacy-statement.">Privacy Statement</a></li>
						<li><a href="https://inn.org/about/legal/bylaws/">Bylaws</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom clearfix">
					<p class="footer-credit">Built with the <a href="mailto:info@inn.org">Largo WordPress Theme </a>from the <a href="https://inn.org/">Institute for Nonprofit News</a>
					</p>
			</div>
		</div>

		</div>
	</footer>
</div>

<!--<ul class="nav-footer">
	<li><a href="{{ link.pages-homepage }}">Home</a></li>
	<li><a href="#">About</a></li>
	<li><a href="{{ link.pages-blog }}">Blog</a></li>
	<li><a href="#">Contact</a></li>
</ul>