<div class="internal-subnav">
	<h3><a href="https://inn.org/about/">About</a></h3>
	<ul>
		<li><a href="https://inn.org/about/membership-faqs/">FAQs</a></li>
		<li>
			<a href="https://inn.org/about/membership-faqs/">Financials</a>
			<ul class="children">
				<li>
					<a href="https://inn.org/about/financials/annual-reports/">Annual Reports, Audits, and <br>Tax Filings</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="https://inn.org/about/legal/">Governance</a>
			<ul class="children">
				<li><a href="https://inn.org/about/legal/bylaws/">Bylaws</a></li>
				<li><a href="https://inn.org/about/legal/content-usage-policy/">Content Usage Policy</a></li>
				<li><a href="https://inn.org/about/legal/editorial-collaboration-policy/">Editorial Collaboration Policy</a></li>
				<li><a href="https://inn.org/about/legal/ethics-practices-policies/">Ethics & Practices Policies</a></li>
				<li><a href="https://inn.org/about/legal/privacy-statement">Privacy Statement</a></li>
				<li><a href="https://inn.org/about/legal/terms-of-service/">Terms of Service</a></li>
			</ul>
		</li>
		<li><a href="https://inn.org/about/jobs/">Jobs</a>
			<ul class="children">
				<li><a href="https://inn.org/about/jobs/operations-manager-institute-for-nonprofit-news/">Operations Manager</a></li>
				<li><a href="https://inn.org/about/jobs/program-and-services-director/">Program and Services Director</a></li>
			</ul>
		</li>
		<li><a href="https://inn.org/about/news/">News</a></li>
		<li><a href="https://inn.org/about/press/">Press</a></li>
		<li><a href="https://inn.org/about/board-of-directors/">Board of Directors</a></li>
		<li><a href="https://inn.org/about/people/">Staff</a></li>
	</ul>	
</div>