<div class="internal-subnav">
	<h3><a href="https://inn.org/project/">Projects</a></h3>
	<ul>
		<li><a href="https://inn.org/project/industry-resources/">Business Resources</a></li>
		<li><a href="https://inn.org/project/education/">Education</a></li>
		<li><a href="https://inn.org/project/fiscal-sponsorship/">Fiscal Sponsorship</a></li>
		<li><a href="https://inn.org/project/innovation-fund/">INNovation Fund</a></li>
		<li><a href="https://inn.org/project/insurance-assistance/">Insurance Assistance</a></li>
		<li><a href="https://inn.org/project/largo-project/">Largo Project</a></li>
		<li><a href="https://inn.org/project/legal-resources/">Legal Resources</a></li>
		<li><a href="https://inn.org/project/technology-assistance/">Technology Services</a></li>
	</ul>	
</div>