<nav id="secondary-nav" class="clearfix">
	<div id="topics-bar" class="span12 hidden-phone">
		<ul id="menu-dont-miss" class="menu">
			<li class="menu-label">Don't Miss</li>
			<li id="menu-item-106866" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-106866"><a href="https://nerds.inn.org/discounts/">Free And Discounted Tools For Nonprofits</a></li>
			<li id="menu-item-106867" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-106867"><a href="https://nerds.inn.org/toolbox/">The INN Toolbox</a></li>
			<li id="menu-item-108081" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-108081"><a href="https://nerds.inn.org/category/book-club/">Book Club</a></li>
			<li id="menu-item-112812" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-112812"><a href="https://nerds.inn.org/category/office-hours/">Office Hours</a></li>
			<li id="menu-item-106868" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-106868"><a target="_blank" href="https://github.com/inn">Steal Our Code On Github</a></li>
		</ul>
	</div>
</nav>