<div class="member-nav">
	<label>Filter List By: </label>
	<select name="member-letter">
		<option value="" disabled="" selected="">First Letter</option>
		<option value="/members">- All -</option>
		<option value="/members?letter=num">0-9</option>
		<option value="/members?letter=A">A</option>
		<option value="/members?letter=B">B</option>
		<option value="/members?letter=C">C</option>
		<option value="/members?letter=C" disabled="">D</option>
		<option value="/members?letter=E">E</option>
		<option value="/members?letter=F">F</option>
		<option value="/members?letter=G">G</option>
		<option value="/members?letter=H">H</option>
		<option value="/members?letter=I">I</option>
		<option value="/members?letter=J">J</option>
		<option value="/members?letter=K">K</option>
		<option value="/members?letter=K" disabled="">L</option>
		<option value="/members?letter=M">M</option>
		<option value="/members?letter=N">N</option>
		<option value="/members?letter=O">O</option>
		<option value="/members?letter=P">P</option>
		<option value="/members?letter=P" disabled="">Q</option>
		<option value="/members?letter=R">R</option>
		<option value="/members?letter=S">S</option>
		<option value="/members?letter=T">T</option>
		<option value="/members?letter=T" disabled="">U</option>
		<option value="/members?letter=V">V</option>
		<option value="/members?letter=W">W</option>
		<option value="/members?letter=W" disabled="">X</option>
		<option value="/members?letter=Y">Y</option>
		<option value="/members?letter=Y" disabled="">Z</option>
	</select>
	<select name="member-category">
		<option value="" disabled="" selected="">Focus Area</option>
		<option value="/members?">- All -</option>
		<option value="/members?focus=business">Business</option>
		<option value="/members?focus=campaign-finance">Campaign Finance</option>
		<option value="/members?focus=community-issues">Community Issues</option>
		<option value="/members?focus=crime">Crime</option>
		<option value="/members?focus=culture">Culture</option>
		<option value="/members?focus=education">Education</option>
		<option value="/members?focus=energy">Energy</option>
		<option value="/members?focus=environment">Environment</option>
		<option value="/members?focus=government">Government</option>
		<option value="/members?focus=healthcare">Healthcare</option>
		<option value="/members?focus=international-issues">International Issues</option>
		<option value="/members?focus=social-issues">Social Issues</option>
		<option value="/members?focus=technology">Technology</option>
	</select>
	<select name="member-state">
		<option value="" disabled="" selected="">State</option>
		<option value="/members">- All -</option>
		<option value="/members?state=AL">Alabama</option>
		<option value="/members?state=AK" disabled="disabled">Alaska</option>
		<option value="/members?state=AZ">Arizona</option>
		<option value="/members?state=AR" disabled="disabled">Arkansas</option>
		<option value="/members?state=CA">California</option>
		<option value="/members?state=CO">Colorado</option>
		<option value="/members?state=CT">Connecticut</option>
		<option value="/members?state=DE" disabled="disabled">Delaware</option>
		<option value="/members?state=DC">District Of Columbia</option>
		<option value="/members?state=FL">Florida</option>
		<option value="/members?state=GA">Georgia</option>
		<option value="/members?state=HI">Hawaii</option>
		<option value="/members?state=ID" disabled="disabled">Idaho</option>
		<option value="/members?state=IL">Illinois</option>
		<option value="/members?state=IN" disabled="disabled">Indiana</option>
		<option value="/members?state=IA">Iowa</option>
		<option value="/members?state=KS">Kansas</option>
		<option value="/members?state=KY">Kentucky</option>
		<option value="/members?state=LA">Louisiana</option>
		<option value="/members?state=ME">Maine</option>
		<option value="/members?state=MD">Maryland</option>
		<option value="/members?state=MA">Massachusetts</option>
		<option value="/members?state=MI">Michigan</option>
		<option value="/members?state=MN">Minnesota</option>
		<option value="/members?state=MS">Mississippi</option>
		<option value="/members?state=MO">Missouri</option>
		<option value="/members?state=MT">Montana</option>
		<option value="/members?state=NE" disabled="disabled">Nebraska</option>
		<option value="/members?state=NV" disabled="disabled">Nevada</option>
		<option value="/members?state=NH">New Hampshire</option>
		<option value="/members?state=NJ">New Jersey</option>
		<option value="/members?state=NM">New Mexico</option>
		<option value="/members?state=NY">New York</option>
		<option value="/members?state=NC">North Carolina</option>
		<option value="/members?state=ND" disabled="disabled">North Dakota</option>
		<option value="/members?state=OH">Ohio</option>
		<option value="/members?state=OK">Oklahoma</option>
		<option value="/members?state=OR" disabled="disabled">Oregon</option>
		<option value="/members?state=PA">Pennsylvania</option>
		<option value="/members?state=RI" disabled="disabled">Rhode Island</option>
		<option value="/members?state=SC" disabled="disabled">South Carolina</option>
		<option value="/members?state=SD" disabled="disabled">South Dakota</option>
		<option value="/members?state=TN" disabled="disabled">Tennessee</option>
		<option value="/members?state=TX">Texas</option>
		<option value="/members?state=UT" disabled="disabled">Utah</option>
		<option value="/members?state=VT">Vermont</option>
		<option value="/members?state=VA">Virginia</option>
		<option value="/members?state=WA">Washington</option>
		<option value="/members?state=WV" disabled="disabled">West Virginia</option>
		<option value="/members?state=WI">Wisconsin</option>
		<option value="/members?state=WY">Wyoming</option>
		<option value="/members?state=AS" disabled="disabled">American Samoa</option>
		<option value="/members?state=FM" disabled="disabled">Micronesia</option>
		<option value="/members?state=GU" disabled="disabled">Guam</option>
		<option value="/members?state=MH" disabled="disabled">Marshall Islands</option>
		<option value="/members?state=PR">Puerto Rico</option>
		<option value="/members?state=VI" disabled="disabled">U.S. Virgin Islands</option>
		<option value="/members?state=intl">International</option>
	</select>
	<label><a href="/member-map">View as map</a></label>
</div>