/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form > div {
  margin-bottom: 1rem;
}

form ol, form ul {
  list-style: block;
  margin-left: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

label {
  display: block;
  padding-bottom: 0.25rem;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

input, textarea {
  width: 100%;
  border: 1px solid gray;
  padding: 0.5rem 0.65rem;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
  -webkit-appearance: none;
}

button, input[type="submit"] {
  padding: 0.5rem;
  background: #333333;
  border: 1px solid gray;
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em;
}

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.field-container {
  margin-bottom: 1rem;
}

.inline-form {
  fieldset, .inline-container {
    position:relative;
  } 
}

.inline-form input[type=submit], .inline-form button, .inline-form .btn {
  font-size: 0.875em;
  padding: 0.65rem 1.3rem;
  background: #333333;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto;
}
.inline-form input[type=submit]:hover, .inline-form input[type=submit]:focus, .inline-form button:hover, .inline-form button:focus, .inline-form .btn:hover, .inline-form .btn:focus {
  background: gray;
  color: white;
}

.inline-search-results-form {
  width: 100%;
}
@media all and (min-width: 46.8em) {
  .inline-search-results-form {
    width: 82%;
  }
}
.inline-search-results-form fieldset, .inline-search-results-form .inline-container {
  position: relative;
}
.inline-search-results-form input[type=submit], .inline-search-results-form button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto;
}

/* Validation */
.has-error {
  border-color: red;
}

.is-valid {
  border-color: #089e00;
}

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
/* Search Form */
.search-field {
  padding-right: 3em;
}

.inline-form .search-submit {
  background: none;
  padding: 0.78em 1em;
  border: 0;
  border-left: 1px solid gray;
  color: gray;
}

/*Donation Form*/

.gfield_label, {
  font-family: $largo_serif;
  font-size: 0.875em;
}

input[name="input_1"] {
  width:30%;
}

input[name="input_2"] {
  width:48.7%;
}

input[name="input_3"] {
  width:100%;
}

li#form-4 {
  margin-top: 48px;
}

p#donate {
  font-size: 1.2em;
  margin-bottom: 24px;
  a {
    font-weight: normal;
    font-family: $largo_serif;
    color: $primary;
  }
}

.gform_wrapper {
  overflow: inherit;
  margin: 16px 0;
  max-width: 100%;
}

/*Checkboxes*/

ul#credit-card-fee {
  padding-top: 16px;
  padding-bottom: 16px;
  
  label {
    margin: 4px 0 0 10px;
    max-width: 95%;
    font-size: 14px;
    font-weight: bold;
  }

  input {
    margin-right:1em;
  }
}

/*Radio Buttons*/
ul.donate-now {
  position: relative;
  display: inline;
  z-index: 100;
  margin-left: 6px;
  
  li {
    display: inline;
    margin-right: 12px;
    width: auto;
    padding: 0;
    overflow: hidden;
  }
  
  input[type="radio"] {
    display:none;
  }

  label {
    padding: 7px 24px;
    margin: 0;
    background-color: $primary;
    font-size: 1em;
    font-family: $largo_sans;
    color:white;
    display: inline-block;
  }

  .donate-now input[type="radio"]:checked + label {
    background-color: $accent5;
  }
}

.donate-now input[type="radio"]:checked + label {
  background-color: $accent5;
}

/*Select Menu*/

.expiration-month select, 
.expiration-year select {
  font-family: $largo_serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 5px;
  height: 41px;
  width: 47%;
  display: inline-block;
  -webkit-appearance: none;
}

span#expiration-month-and-year {
  width: 50%;
  float:left;
  display: inline;
}

#exp-date-security-code {
  margin-bottom: 12px;
}

.first-name, .last-name {
  display:inline-block;
  width: 50%;
  margin-bottom: 12px;
}

li#form-9 {
  h4 {
  margin-bottom: 8px;
  }
}

/*Donation Form*/

div#content {
  width: 70%;
  margin: 0 auto;
  float: none;
}

.first-name-last-name span:first-child {
  padding-right: 14px;
}

/*Mobile Responsive Media Queries*/

@media (max-width: $break-small) {
  ul.donate-now li {
    display: block;
    clear: both;
    float: none;
    text-align: center;
    label {
      width: 100%;
    }
  }

  input[name="input_1"] {
    width: 100%;
  }
}

@media (max-width: $break-medium) {
  div#content {
    width: 90%;
  }

   .first-name, .last-name, input[name="input_2"] {
    width: 100%;
  }

  .first-name-last-name span:first-child {
    padding-right: 0;
  }
  
  ul.donate-now li {
    margin-right: 5px;
    margin-bottom: 0px;
    label {
      padding: 7px 16px;
    }
  }
}

@media (max-width: $break-large) {
  div#main.donation-page {
    padding: 0;
  }
}