/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/
/* Flexible Media */
img, video, object {
  max-width: 100%;
  height: auto;
}

iframe {
  margin-bottom: 1rem;
}

figure {
  margin-bottom: 1rem;
}
figure img {
  margin-bottom: 0.25rem;
}

figcaption {
  font-style: italic;
}

/* Avatar */
.avatar {
	float:left;
	margin:5px 15px 10px 0;
	padding: 4px;
	border: 1px solid $neutral4;
}