div.thumbnail-img {
	float:right;
	margin: 0 0 10px 20px;
}

@media all and (max-width: 46.8em) {
div.thumbnail-img {
	max-width: 50%;
}
}

.entry-content h5 {
	margin-bottom: 4.8px;
}

.entry-content h4 {
	margin-bottom: .5em;
}

.headline {
	color: @neutral1;
	font-family: @largo_sans;
	line-height: 1;
	margin-bottom: 24px;
	font-weight:bold;
}

.block-hero .b-text {
	padding: 16rem;
	background: rgba(255, 255, 255, 0.5);
	> .headline {
		color:white;
		text-align: center;
		text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.65);
	}
}