<header id="article-header">
	<h5 class="top-tag">
		<span class="post-category-link">
			<a href="https://nerds.inn.org/category/conferences/" title="Read Posts in the Conferences category">Top Tag</a>
		</span>
	</h5>
	<h5 class="top-date">Top Date</h5>
	<h1 class="entry-title" itemprop="headline">At vero eos et accusamus et iusto odio dignissimos ducimus</h1>
	<h5 class="byline">By Adam Schweigert</h5>
</header>