<div id="content" class="has-menu">
	<article id="about-inn">
		<header class="entry-header">
			<h1 class="entry-title">About INN</h1>
		</header>
		<section class="entry-content">
			{{> molecules-pullquote }}

			<p>In 2009, journalists from 27 nonpartisan, nonprofit news organizations gathered at the <a href="http://www.rbf.org/pocantico-center">Pocantico Center</a> in New York to plan the future of investigative journalism. The result of that meeting, the <a href="https://inn.org/pocantico-declaration/">Pocantico Declaration</a>, established the Investigative News Network (now named the Institute for Nonprofit News) and laid a foundation of collaboration among a new collective of nonprofit newsrooms dedicated to serving the public interest.</p>

			<p>Today, INN has grown to <a href="https://inn.org/members/">over 100 nonprofit media organizations</a> in North America. Our community shares best practices, collaborates on stories, pools resources and receives cutting-edge training in professional, organizational and business development. Together, we’ve managed to increase the reach and impact of their work as they seek to inform communities, hold the powerful accountable and help keep our democracy free.</p>

			<p><b>Our Mission</b></p>

			<p>To provide education and business support services to our nonprofit member organizations and promote the value and benefit of public-service and investigative journalism.</p>

			<p>We will accomplish this by:</p>

			<ul>
				<li>Identifying operational and revenue-generating best practices and training our members on them.</li>
				<li>Establishing partnerships, collaborations and strategic alliances to advance our mission.</li>
				<li>Promoting public service journalism as a philanthropic investment.</li>
				<li>Leveraging funding dollars to maximize impact.</li>
				<li>Developing business leadership among nonprofit news organizations.</li>
				<li>Offering affordable back-office services to individual organizations.</li>
			</ul>

			<p>INN is a <a href="https://1l9nh32zekco14afdq2plfsw-wpengine.netdna-ssl.com/wp-content/uploads/2013/01/INN_501c3_Determination-Letter_031612-1.pdf">501(c)(3) federally recognized nonprofit</a>.</p>
			<p><b>Members</b></p>

			<p>The organizations that comprise the network are diverse, with beats that range from the local to the global, often exploring the intersection of the two. Some cover specific industries and sectors, such as education or healthcare. Others cover communities, from small towns to big cities. The members utilize all media including, digital, print, radio, data and film. All of them are nonprofits and use investigative and public-interest reporting to advance their mission.</p>

			<p>Their newsrooms are composed of reporters, editors and producers that have been recognized by a constellation of news-industry awards, including Pulitzers, Emmys, Peabodys, DuPonts and laurels from the Society of Professional Journalists, Investigative Reporters and Editors and many others.</p>

			<p>Their high-impact stories have exposed corruption and inspired legal and policy reforms; alerted the public to environmental perils, financial scams and faulty products; and informed communities about the issues of business and government that affect daily life.</p>

			<p>The INN members do this work at a time of tectonic shifts in media technology, culture and economy. They do it because journalism's mission of public service demands nothing less from them. They do it because a viable, sustainable Fourth Estate is essential for a healthy democracy.</p>

			<h3><b>Membership Requirements</b></h3>

			<p>To be a member of INN, an organization must be organized as described in Section 501(c)(3) of the Internal Revenue Code or be fiscally sponsored by a 501(c)(3) (such as INN). It also must be transparent about funding sources and produce investigative and/or public-service reporting. For more information and to apply to become a member, please review our complete <a href="https://inn.org/for-members/membership-standards/">membership standards</a> and then <a href="https://inn.org/for-members/membership-standards/">submit your application</a>.</p>

			<h3><b>Funding</b></h3>

			<p>INN, and all its members, have a commitment to transparency in funding. All member organizations must display and make available funders who donate over $1,000.</p>

			<p>INN thanks its <a href="https://inn.org/about/financials/">funders</a> and the volunteer efforts of its board and members, without which its work would not be possible. Click to see INN's <a href="https://inn.org/about/financials/">financials</a>.</p>
		</section>
	</article>
</div>