
/* Buttons */

a.btn:hover {
	text-decoration: none;
}

.btn.alternate {
	background-color: @accent5;
	color: white;
}

.btn.alternate:hover {
	background-color: #df6807;
	color: white;
}

.btn.next {
	background-color: #e6e6e6;
	color: black;
}

.btn.next:hover {
	background-color: #a6a6a6;
	color:white;
}
