/* Headings */
h1 {
	color: @neutral1;
	font-size: 3.5em;
	font-family: @largo_sans;
	line-height: 1;
	font-weight:bold;
	margin:0 0 .5em 0;
	padding-top:.5em;
	text-align:center;
	text-rendering:optimizeLegibility;
}

h2 {
	color: @neutral2;
	font-size: 2.5em;
	font-family: @largo_sans;
	font-weight:bold;
	line-height: 1;
	margin-bottom: 24px;
	text-rendering: optimizeLegibility;
	text-align: center;

}

h3 {
	color: @neutral2;
	font-size: 2em;
	font-family: @largo_sans;
	font-weight:bold;
	line-height: 1;
	margin-bottom: 24px;
	text-rendering: optimizeLegibility;
	text-align: center;

}

h4 {
	color: @neutral2;
	font-size: 1.5em;
	font-family: @largo_sans;
	font-weight:bold;
	line-height: 1;
	margin-bottom: 24px;
	text-rendering: optimizeLegibility;
	text-align: center;
}

h5 {
	color: @neutral2;
	font-size: 1em;
	font-family: @largo_sans;
	font-weight:bold;
	line-height: 1;
	margin-bottom: 24px;
	text-rendering: optimizeLegibility;
	text-align: center;
}

h6 {
	color: @neutral2;
	font-size: .75em;
	font-family: @largo_sans;
	font-weight:bold;
	line-height: 1;
	margin-bottom: 24px;
	text-rendering: optimizeLegibility;
	text-align: center;
}

/* Subheadings */

h3.subheading {
	color: @neutral2;
	font-size: 2em;
	font-family: @largo_sans;
	font-weight:none;
	line-height: 1;
	margin-bottom: 12px;
	text-align: left;
	text-rendering: optimizeLegibility;
}

/* Heading Top Tag */

h5.top-date {
	color: @neutral4;
	font-family: @largo_sans;
	font-size: 1em;
	line-height: 1;
	margin-bottom: 24px;
	text-decoration: none;
	text-align: left;
	text-rendering:optimizeLegibility;
}

h5.top-tag {
	color: @neutral4;
	font-family: @largo_sans;
	font-size: 1em;
	line-height: 1;
	margin-bottom: 24px;
	text-decoration: none;
	text-align: left;
	text-transform: uppercase;
}

h5.byline  {
	color: @neutral2;
	font-family: @largo_sans;
	font-size: 1em;
	font-style: normal;
	line-height: 1;
	margin-bottom: 24px;
	text-align: left;
	text-decoration: none;
}

/* Headings with Links */

h3.link {
	color: @neutral2;
	font-size: 2em;
	font-family: @largo_sans;
	line-height: 1;
	margin-bottom: 12px;
	text-align: left;
	text-rendering: optimizeLegibility;
	text-decoration: underline;
}

/* Paragraph */

p {
	color: @neutral2;
	font-size: 1.2em;
	font-family: @largo_serif;
	line-height: 1.5;
	margin-bottom: 24px;
	text-align: left;
	text-rendering:optimizeLegibility;
}

/*
p.description {
	color: @neutral2;
	font-size: 16px;
	font-family: @largo_serif;
	line-height: 1.5;
	margin-bottom: 24px;
	text-align: left;
	text-rendering:optimizeLegibility;
} */