/* Headings */
h1 {
	color: @neutral1;
	font-size: 44px;
	font-family: @largo_sans;
	line-height: 1;
	font-weight:bold;
	margin:0 0 .5em 0;
	padding-top:.5em;
	text-align:center;
	text-rendering:optimizeLegibility;
}


/* Subheadings */




/* Headings with Links */




/* Paragraph */