#content.has-menu {
	margin-left: 0;
	padding-left: 80px;
	width: 74.4680851%;
	float: left;
}

article#about-inn {
	b {
		color: @neutral1;
	}
	p {
		margin: 0 0 24px;
	}

	h1 {
		margin-bottom: .5em;
		line-height: 1;
		font-size: 44px;
		font-weight: bold;
	}

	h3 {
		font-size: 1.833em;
	}

	ul {
		list-style: disc;
		padding: 0;
		margin: 0 0 24px 25px;
	}
}