.headline-list h4 {
	font-size: 1.25em;
	a {
		color: @neutral2;
		font-weight: normal;
		&:hover {
		color: @primary;
		}
	}
}

.headline-list li {
	padding: 0 0;
	border-top: 0;
}

h3.section-title {
	margin-bottom: 24px;
	font-weight: bold;
	color: @neutral1;
	font-size: 1.833em;
}

.morelink a {
	color: @primary;
	font-weight: normal;
}