#testimonial {
	img {
		width: 140px;
		height: 140px;
		border-radius: 100px;
		margin: 0 5em 0 0;
	}

	p {
		padding: 0 4em;
		font-size: 21px;
		color: white;
	}

	p.credit {
		text-align: right;
		font-family: @largo_sans;
		font-size: 18px;
		a {
			color: @primary;
		}
	}
}