div.thumbnail-img {
	float:right;
	margin: 0 0 10px 20px;
}

.entry-content {
	h2 {
		margin-bottom: .5em;
		font-size: 24px;
		}

	h5 {
		margin-bottom: 4.8px;
		}
}

.headline {
	color: $neutral1;
	font-family: $largo_sans;
	line-height: 1;
	margin-bottom: 24px;
	font-weight:bold;
}

.block-hero .b-text {
	padding: 16rem;
	background: rgba(255, 255, 255, 0.5);
	> .headline {
		color:white;
		text-align: center;
		text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.65);
	}
}

.hero {
	max-width: 100%;
	background-color: $neutral2;
	margin-bottom: 2em;
	padding: 300px 0;
	h2 {
		margin:0 auto;
		text-align: center;
		color: white;
		font-size: 4em;
		font-weight: bold;
		text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.650);
		margin-bottom: 24px;
	}

	p {
		text-align: center;
		font-size: 2em;
		font-family: $largo_sans;
		font-weight: 400;
		margin-bottom: 24px;
		color: white;
		text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.650);
	}

	form {
		text-align: center;
	}
}

#hero-newsletter {
	background-color: $accent2;
	background: url(../../images/inn-hero-newsletter-01.svg);
	background-position: center center;
	background-size: cover;
	padding: 100px 50px;
	input[type="email"] {
		width: 300px;
		padding: 10px;
		margin-right: 5px;
	}

	input[type="submit"] {
		padding: 14px;
		width: 180px;
		background-color:  #FFD84F;
		color: black;
		&:hover {
			background-color: $accent4;
		}
	}
}

#hero-training {
	background-color: $accent8;
	padding: 100px 50px;
	background: url(../../images/inn-hero-training.svg);
	background-position: center center;
	background-size: cover;
	.btn {
		background-color: #FFD84F;
		color: black;
		display: block;
		width: 150px;
		margin: 0 auto 2em;
		&:hover {
			background-color: $accent4;
		}
	}
}

#upcoming-event {
	background-color: white;
	max-width: 650px;
	padding: 2em 2em 2em;
	margin: 0 auto;
	h4 {
		margin-bottom: 8px;
		color: black;
	}
	p {
		text-align: left;
		font-size: 1.2em;
		color: $neutral1;
		text-shadow: none;
		margin-bottom: 8px;
	}
}

#event-calendar {
	float: left;
	width: 25%;
	display: block;
	text-align: center;
	margin-right: 24px;
	background-color: $neutral5;
	#top-month {
		display: block;
		background-color: $accent6;
		color: white;
		font-size: 1.2em;
		text-transform: uppercase;
		padding: 5px 0;
	}

	#bottom-date {
		display: block;	
		font-size: 3.5em;
		font-weight: bold;
		padding: 20px 0 20px 0;
	} 
}

#event-description {
	a {
		color: $primary;
		font-weight: normal;
	}
}

#hero-description{
	background-color: white;
	max-width: 650px;
	padding: 2em 2em 2em;
	margin: 0 auto;
	h4 {
		margin-bottom: 8px;
		color: black;
	}
	p {
		text-align: left;
		font-size: 1.2em;
		color: $neutral1;
		text-shadow: none;
		margin-bottom: 8px;
	}
}

#mobile-date {
	display: none;
	color: $accent6;
	margin-bottom: 8px;
}

#hero-branding {
	padding: 100px 50px;
	background: url(../../images/inn-hero-branding.svg);
	background-position: center center;
	background-size: cover;
	background-color: $primary;

	.btn {
		color: white;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		display: block;
		max-width: 100%;
		margin-bottom: 1em;
	}

	#about {
		background-color: $accent6;
		&:hover {
			background-color: $cmyk6;
		}
	}

	#services {
		background-color: $accent5;
		&:hover {
			background-color: $cmyk5;
		}
	}

	#donate {
		background-color: $accent8;
		&:hover {
			background-color: $cmyk8;
		}
	}

	.span5 {
		width: 30.2%;
		margin-left: 25px;
		float: left;
		text-align: center;
		&:first-child {
			margin-left:0;
		}
	}

	#icon-description {
		text-align: center;
		font-size: 1em;
		color: $neutral2;
		line-height: 1.2;
		display: block;
	}
}

article.latest-post {
	border-bottom: 1px dotted $neutral4;
	margin-bottom: 24px;
}

/*Responsive Media Queries*/

@media (max-width: $break-medium) {
	div.thumbnail-img {
		max-width: 50%;
	}

	#main-hero {
		display: none;
	}
}

/*Responsive Media Queries for New Hero Images*/

@media (max-width: 1000px) {

	.hero {
		h2 {
			font-size: 3em;
		}

		p{
			font-size: 1.5em;
		}
	}
	#hero-newsletter, #hero-branding, #hero-training {
		padding: 75px 25px;
	}

	#upcoming-event {
		max-width: 550px;
		h4 {
			font-size: 1.5em;
		}

		p {
			font-size: 1em;
		}
	}

	#event-calendar {
		margin-right: 16px;
		#top-month {
			font-size: 1em;
		}

		#bottom-date {
			font-size: 2.5em;
		}
	}


}

@media (max-width: 670px) {
	#hero-branding {
		.span5, .span5:first-child {
			float: none;
			margin: 0 auto 1em;
			width: 100%;
		}

		#hero-description {
			max-width: 300px;
			padding: 1.5em 1.5em 1.5em;
		}

		.span5 img {
			display: none;
		}
	}

}

@media (max-width: 525px) {

	#hero-newsletter input {
		margin-bottom: 12px;
	}

	#hero-newsletter, #hero-branding, #hero-training {
		padding: 50px 25px;
	}

	#event-calendar {
		display: none;
	}

	#mobile-date {
		display: block;
	}
}