.calendar-event {
	overflow: hidden;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dotted $neutral1;
}

.list-date {
	float: left;
    overflow: hidden;
    font-weight: bold;
    margin: 10px 5% 10px 0;
    padding: 3px;
    width: 15%;
    text-align: center;
    display: inline;
    background: $neutral2;
    -webkit-box-sizing: border-box;
}

.list-dayname {
	background: $white;
    color: $neutral2;
    padding: 3px;
    font-size: 9px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.list-daynumber {
	color: $white;
    font-size: 15px;
    width: 100%;
    line-height: 22px;
    display: block;
    text-align: center;
}

.list-info {
	font-size: 13px;
	margin: 10px 0;
	display: inline;
	line-height: 1;
	float: left;
	width: 80%;
	h2, a {
		color: $primary;
		font-size: 14px;
		font-weight: bold;
		line-height: 18px;
		margin-top: 0;
		margin-bottom: 10px;
	}
}

