<div class="calendar-event">
	<div class="list-date">
		<span class="list-dayname">Thu</span>
		<span class="list-daynumber">06</span>
	</div>
	<div class="list-info">
		<h2 class="tribe-events-title">
			<a href="https://inn.org/event/sustain-local-2016/" rel="bookmark">Sustain Local 2016</a>
		</h2>
		<div class="tribe-events-duration">
			<span class="tribe-event-date-start">October 6 @ 8:00am</span>
			<span class="tribe-event-date-end">October 7 @ 5:00am</span>
			<span class="timezone">UTC-4</span>
		</div>
	</div>
</div>