<article id="post-45" class="inn_member directory clearfix">
	<a href="https://inn.org/author/100reporters/"><img alt="" src="https://1l9nh32zekco14afdq2plfsw-wpengine.netdna-ssl.com/wp-content/uploads/2013/05/482907_572384362790610_130788531_n1.jpg" class="avatar avatar-96 photo" height="96" width="96"></a>
	<h3><a href="https://inn.org/author/100reporters/">100Reporters</a></h3>
	<p class="member-since">Member since 2011</p>
	<ul class="social">
		<li><a href="mailto:djschemo@100r.org"><i class="icon-mail"></i></a></li>
		<li><a href="http://100r.org/feed/" target="_blank"><i class="icon-feed"></i></a></li>
		<li><a href="https://twitter.com/100reporters" target="_blank"><i class="icon-twitter"></i></a></li>
		<li><a href="https://fb.com/100Reporters" target="_blank"><i class="icon-facebook"></i></a></li>
	</ul>
	<p><a href="http://100r.org/">Visit Website</a></p>
</article>