body {
  background: #fff;
  -webkit-text-size-adjust: 100%;
  font-family: $largo_sans;
  color: #333333;
}

/* Links */
a {
  color: #333333;
  text-decoration: none;
  outline: 0;
}
a:hover, a:focus {
  color: gray;
}

/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha {
  line-height: 1.2;
}

h2, .beta {
  line-height: 1.2;
}

h3, .gamma {
  line-height: 1.2;
}

/* Subheadings */
.subheading {
  font-family: $largo_serif;
  font-weight: normal;
}

/* Text-Related Elements */
p {
  margin-bottom: 1rem;
}

/* Blockquote */
blockquote {
  font-style: italic;
  border-left: 1px solid gray;
  color: gray;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

/* Horizontal Rule */
hr {
  border: 0;
  height: 2px;
  background: #eeeeee;
  margin: 2rem 0;
}

abbr {
  border-bottom: 1px dotted gray;
  cursor: help;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Definition Lists */
dl {
  overflow: hidden;
  margin: 0 0 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive */

.hidden-desktop, .visible-phone, .visible-tablet {
  display: none;
}