aside#text-4 {
	h3 {
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 8px;
		font-weight: bold;
		color: $neutral1;
	}

	margin-bottom: 24px;
}

#friends-widget {

	p {
		font-family: $largo_sans;
		font-size: 15px;
	}

	a {
		color: $primary;
		font-weight: normal;
	}
}

#friends-widget ul strong a {
	color: $neutral3;
	font-weight: bold;
}