aside#largo-related-posts-widget-2 {
	margin-bottom: 48px;

	h3 {
		font-size: 1.75em;
		margin-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		color: $neutral1;
	}

	h4 {
		font-size: 24px;
		margin-bottom: 12px;
		line-height: 1.3;
		a {
		 	color: $primary;
		 }
	}

	p {
		margin-bottom: 1em;
		font-size: 16px;
		margin: 0 0 24px;
		line-height: 1.5;
	}

	img {
		float: left;
		margin: .5em 1.2em 0 0;
		max-width: 100%;
		height: auto;
		clear: both;
	}

	li {
		list-style: none;
		display: block;
	}
}

/*Responsive Media Queries*/

@media (max-width: $break-small) {
	aside#largo-related-posts-widget-2 {
		p {
			font-size: 14.4px;
		}

		h4 {
			font-size: 20px;
			line-height: 1.1;
			margin-bottom: 4.6px;
		}
	}
}