#upcoming-events {
	font-family: $largo_sans;
}

div#homepage-top-right {
	width: 48.93617021%;
	display: block;
	float: left;
	margin-left: 2.12765957%;
}

@media $break-small {
	div#homepage-top-left, div#homepage-top-right {
		width: 100%;
		margin: 0;
		clear: both;
		padding: .5em 10%;
	}
}