<aside id="largo-about-widget-2" class="widget widget-1 odd default largo-about clearfix">
	<h3 class="widgettitle">Welcome</h3>
	<p>The INN Nerds are the members of the product and technology team at the <a href="https://inn.org">Institute for Nonprofit News</a>. You can <a href="https://twitter.com/innnerds">follow us on Twitter</a>, <a href="https://github.com/inn">steal our code on GitHub</a> or <a href="https://nerds.inn.org/feed">subscribe to this blog via RSS</a>.</p>
</aside>