<aside id="text-4" class="widget widget-3 odd default widget_text clearfix">
	<h3 class="widgettitle">Friends</h3>
	<div class="textwidget">
		<div id="friends-widget">
			<p>Nerds at INN Member Organizations</p>
			<ul>
				<li>
					<strong><a href="http://cironline.org/">CIR Labs</a></strong><br><a href="http://cironline.org/">Web</a> | <a href="https://github.com/cirlabs">GitHub</a>
				</li>
				<li>
					<strong><a href="http://www.minnpost.com/data">MinnPost Data</a></strong><br><a href="http://www.minnpost.com/data">Web</a> | <a href="http://twitter.com/minndata">Twitter</a> | <a href="https://github.com/minnpost">GitHub</a>
				</li>
				<li>
					<strong><a href="http://www.propublica.org/nerds">ProPublica Nerds</a></strong><br><a href="http://www.propublica.org/nerds">Web</a> | <a href="http://twitter.com/propubnerds">Twitter</a> | <a href="https://github.com/propublica">GitHub</a>
				</li>
				<li>
					<strong><a href="http://sunlightfoundation.com/api/">Sunlight Labs</a></strong><br><a href="http://sunlightfoundation.com/api/">Web</a> | <a href="http://twitter.com/sunlightlabs">Twitter</a> | <a href="https://github.com/sunlightlabs">GitHub</a>
				</li>
				<li>
					<strong><a href="http://texastribune.org">Texas Tribune</a></strong><br><a href="http://texastribune.org">Web</a> | <a href="http://twitter.com/newsapps">Twitter</a> | <a href="https://github.com/texastribune">GitHub</a>
				</li>
			</ul>
		</div>
	</div>
</aside>