<section class="section latest-posts">
	<ul class="post-list">
		<li>{{> molecules-media-block }}</li>
		<li>{{> molecules-media-block }}</li>
		<li>{{> molecules-media-block }}</li>
		<li>{{> molecules-media-block }}</li>
		<li>{{> molecules-media-block }}</li>
		<li>{{> molecules-media-block }}</li>
		<li>{{> molecules-media-block }}</li>
		<li>{{> molecules-media-block }}</li>
		<li>{{> molecules-media-block }}</li>
		<li>{{> molecules-media-block }}</li>
	</ul>
	<a href="#" class="btn-next">View more posts</a>
</section>