<aside id="largo_staff_widget-2" class="widget widget-2 even default widget_largo_staff_widget clearfix">
	<h3 class="widgettitle">Our Team</h3>
	<ul class="staff-roster cleafix">
		<li>
			<div>
				<a href="https://nerds.inn.org/author/aschweigert/">
					<img src="https://inn.org/wp-content/uploads/2015/03/adam_schweigert_5004-140x140.png" alt="Adam Schweigert (Senior Director, Product and Technology)" width="65" height="65" class="avatar avatar-65 photo">
					<span class="staff-name">Adam Schweigert</span>
				</a>
				<p>Senior Director, Product and Technology</p>
				<p><a href="https://nerds.inn.org/author/aschweigert/">Adam's posts</a></p>
			</div>
		</li>
		<li>
			<div>
				<a href="https://nerds.inn.org/author/bkeith/">
					<img alt="Ben Keith (News Apps Developer)" src="https://secure.gravatar.com/avatar/e9d6329b5ba5354f4611e755e6cbcae0?s=65&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/e9d6329b5ba5354f4611e755e6cbcae0?s=130&amp;d=mm&amp;r=g 2x" class="avatar avatar-65 photo" height="65" width="65">
					<span class="staff-name">Ben Keith</span>
				</a>
				<p>News Apps Developer</p>
				<p><a href="https://nerds.inn.org/author/bkeith/">Ben's posts</a></p>
			</div>
		</li>
		<li>
			<div>
				<a href="https://nerds.inn.org/author/jsmith/">
					<img src="https://inn.org/wp-content/uploads/2016/02/JSMITH-INN1-96x96.jpg" alt="Julia Smith (Lead Designer)" width="65" height="65" class="avatar avatar-65 photo">
					<span class="staff-name">Julia Smith</span>
				</a>
				<p>Lead Designer</p>
				<p><a href="https://nerds.inn.org/author/jsmith/">Julia's posts</a></p>
			</div>
		</li>
		<li>
			<div>
				<a href="https://nerds.inn.org/author/rclations/">
					<img src="https://inn.org/wp-content/uploads/2016/08/RC-e1470591530253-96x96.jpg" alt="RC Lations (Lead Developer)" width="65" height="65" class="avatar avatar-65 photo">
					<span class="staff-name">RC Lations</span>
				</a>
				<p>Lead Developer</p>
				<p><a href="https://nerds.inn.org/author/rclations/">RC's posts</a></p>
			</div>
		</li>
		<li>
			<div>
				<a href="https://nerds.inn.org/author/ghongsdusit/">
					<img src="https://inn.org/wp-content/uploads/2016/06/GabeHongsdusit-1-96x96.jpg" alt="Gabriel Hongsdusit (Design Apprentice)" width="65" height="65" class="avatar avatar-65 photo">
					<span class="staff-name">Gabriel Hongsdusit</span>
				</a>
				<p>Design Apprentice</p>
				<p><a href="https://nerds.inn.org/author/ghongsdusit/">Gabriel's posts</a></p>
			</div>
		</li>
	</ul>
</aside>