<aside id="largo-related-posts-widget-2" class="widget widget-3 odd default largo-related-posts clearfix">
	<h3 class="widgettitle">Read Next</h3>
	<ul class="related">
		<li>
			<a href="https://nerds.inn.org/2016/10/03/october-book-club-selection-design-for-real-life/">
				<img width="140" height="140" src="https://inn.org/wp-content/uploads/2016/10/ABA-hero-18-140x140.jpg" class=" wp-post-image" alt="Design For Real Life cover" srcset="https://inn.org/wp-content/uploads/2016/10/ABA-hero-18-140x140.jpg 140w, https://inn.org/wp-content/uploads/2016/10/ABA-hero-18-60x60.jpg 60w, https://inn.org/wp-content/uploads/2016/10/ABA-hero-18-32x32.jpg 32w, https://inn.org/wp-content/uploads/2016/10/ABA-hero-18-50x50.jpg 50w, https://inn.org/wp-content/uploads/2016/10/ABA-hero-18-64x64.jpg 64w, https://inn.org/wp-content/uploads/2016/10/ABA-hero-18-96x96.jpg 96w, https://inn.org/wp-content/uploads/2016/10/ABA-hero-18-128x128.jpg 128w" sizes="(max-width: 140px) 100vw, 140px">
			</a>
			<h4><a href="https://nerds.inn.org/2016/10/03/october-book-club-selection-design-for-real-life/" title="Read: ">October Book Club Selection: Design For Real Life</a></h4>
			<p>Our October News Nerd Book Club selection is Design For Real Life by Sara Wachter-Boettcher and Eric Meyer.</p>
		</li>
		<li>
			<a href="https://nerds.inn.org/2016/08/12/septembers-book-club-selection-spreadable-media-creating-value-and-meaning-in-a-networked-culture/">
				<img width="140" height="140" src="https://inn.org/wp-content/uploads/2016/08/spreadable-media-book-140x140.jpg" class=" wp-post-image" alt="spreadable-media-book" srcset="https://inn.org/wp-content/uploads/2016/08/spreadable-media-book-140x140.jpg 140w, https://inn.org/wp-content/uploads/2016/08/spreadable-media-book-60x60.jpg 60w, https://inn.org/wp-content/uploads/2016/08/spreadable-media-book-32x32.jpg 32w, https://inn.org/wp-content/uploads/2016/08/spreadable-media-book-50x50.jpg 50w, https://inn.org/wp-content/uploads/2016/08/spreadable-media-book-64x64.jpg 64w, https://inn.org/wp-content/uploads/2016/08/spreadable-media-book-96x96.jpg 96w, https://inn.org/wp-content/uploads/2016/08/spreadable-media-book-128x128.jpg 128w" sizes="(max-width: 140px) 100vw, 140px">
			</a>
			<h4><a href="https://nerds.inn.org/2016/08/12/septembers-book-club-selection-spreadable-media-creating-value-and-meaning-in-a-networked-culture/" title="Read: ">September’s Book Club Selection: Spreadable Media – Creating Value and Meaning in a Networked Culture</a></h4>
			<p>We hope you'll join us for our next News Nerd Book Club hangout on Wednesday, September 14th at 1pm ET.</p>
		</li>
		<li>
			<a href="https://nerds.inn.org/2016/06/27/julys-bookclub-selection-spam-a-shadow-history-of-the-internet/"><img width="140" height="140" src="https://inn.org/wp-content/uploads/2016/06/spam-140x140.jpg" class=" wp-post-image" alt="book cover of Spam" srcset="https://inn.org/wp-content/uploads/2016/06/spam-140x140.jpg 140w, https://inn.org/wp-content/uploads/2016/06/spam-60x60.jpg 60w, https://inn.org/wp-content/uploads/2016/06/spam-32x32.jpg 32w, https://inn.org/wp-content/uploads/2016/06/spam-50x50.jpg 50w, https://inn.org/wp-content/uploads/2016/06/spam-64x64.jpg 64w, https://inn.org/wp-content/uploads/2016/06/spam-96x96.jpg 96w, https://inn.org/wp-content/uploads/2016/06/spam-128x128.jpg 128w" sizes="(max-width: 140px) 100vw, 140px"></a>
			<h4><a href="https://nerds.inn.org/2016/06/27/julys-bookclub-selection-spam-a-shadow-history-of-the-internet/" title="Read: ">July’s Bookclub Selection: Spam – A Shadow History of the Internet</a></h4>
			<p>The the July 13th, 2016 edition of the News Nerds Book Club we'll examine a topic that's become all too painfully familiar: Spam. It comes from some seriously dark corners of the Internet, and this book tells the story. Join us for a great discussion!</p>
		</li>
	</ul>
</aside>