<aside id="largo-prev-next-post-links-widget-2" class="widget widget-4 even default largo-prev-next-post-links clearfix">
	<nav id="nav-below" class="pager post-nav clearfix">
		<div class="previous">
			<a href="https://nerds.inn.org/2016/10/14/nerd-alert-93-i-love-that-you-get-cold-when-its-71-degrees-out/">
				<img class="thumb" src="https://inn.org/wp-content/uploads/2015/03/NerdAlertBannerSquare-140x140-140x140.png">
				<h5>Previous Post</h5>
				<span class="meta-nav">Nerd Alert 93: I love that you get cold when it's 71 degrees out</span>
			</a>
		</div>
		<div class="next">
			<a href="https://nerds.inn.org/2016/10/21/nerd-alert-94-rama-llama-ding-dong/">
				<img class="thumb" src="https://inn.org/wp-content/uploads/2016/10/NPR-Fact-Check-140x140.png">
				<h5>Next Post</h5>
				<span class="meta-nav">Nerd Alert 94: Rama Llama Ding Dong</span>
			</a>
		</div>			
	</nav>
</aside>