<div id="quick-links">
		<h4>Quick Links</h4>
		<ul>
			<li><a href="/members/">Member Directory</a></li>
			<li><a href="/for-members/member-benefits">Member Benefits</a></li>
			<li><a href="/for-members/become-a-member">Become A Member</a></li>
			<li><a href="/for-members/dues">Pay Your Dues</a></li>
		</ul>
</div>