<div id="homepage-top-left" class="span6">
	<section class="section related-posts">
		<h4 class="section-title">Network News</h4>
		<ul class="headline-list">
			<li><h5><a href="#">Hsiu Mei Wong Named to Board of Directors of the Institute for Nonprofit News</a></h5></li>
			<li><h5><a href="#">Laura Frank to Chair INN Board of Directors</a></h5></li>
			<li><h5><a href="#">Welcome RC Lations To Our Team!</a></h5></li>
			<li><h5><a href="#">GIJN launches as independent nonprofit</a></h5></li>
		</ul>
		<p class="morelink"><a href="/news/">More News</a></p>
	</section>
</div>