<section class="section related-posts">
	<h3 class="section-title">Network News</h3>
	<ul class="headline-list">
		<li><h4><a href="#">Hsiu Mei Wong Named to Board of Directors of the Institute for Nonprofit News</a></h4></li>
		<li><h4><a href="#">Laura Frank to Chair INN Board of Directors</a></h4></li>
		<li><h4><a href="#">Welcome RC Lations To Our Team!</a></h4></li>
		<li><h4><a href="#">GIJN launches as independent nonprofit</a></h4></li>
	</ul>
	<p class="morelink"><a href="/news/">More News</a></p>
</section>