<div id="homepage-top-right" class="span6">
	<aside id="upcoming-events">
		<h4 class="section-title">Upcoming Events</h4>
		<div class="calendar-event">
			<div class="list-date">
				<span class="list-dayname">Thu</span>
				<span class="list-daynumber">06</span>
			</div>
			<div class="list-info">
				<h2 class="tribe-events-title">
					<a href="https://inn.org/event/sustain-local-2016/" rel="bookmark">Sustain Local 2016</a>
				</h2>
				<div class="tribe-events-duration">
					<span class="tribe-event-date-start">October 6 @ 8:00 am</span> -
					<span class="tribe-event-date-end">October 7 @ 5:00 am</span>
					<span class="timezone">UTC-4</span>
				</div>
			</div>
		</div>
		<div class="calendar-event">
			<div class="list-date">
				<span class="list-dayname">Thu</span>
				<span class="list-daynumber">06</span>
			</div>
			<div class="list-info">
				<h2 class="tribe-events-title">
					<a href="https://inn.org/event/sustain-local-2016/" rel="bookmark">Double Exposure</a>
				</h2>
				<div class="tribe-events-duration">
					<span class="tribe-event-date-start">October 6 @ 10:30 am</span> -
					<span class="tribe-event-date-end">October 8 @ 9:00 pm</span>
					<span class="timezone">UTC-4</span>
				</div>
			</div>
		</div>
		<div class="calendar-event">
			<div class="list-date">
				<span class="list-dayname">Fri</span>
				<span class="list-daynumber">07</span>
			</div>
			<div class="list-info">
				<h2 class="tribe-events-title">
					<a href="https://inn.org/event/sustain-local-2016/" rel="bookmark">INN Tech Team Office Hours</a>
				</h2>
				<div class="tribe-events-duration">
					<span class="tribe-event-date-start">October 7 @ 2:00 pm</span> -
					<span class="tribe-event-date-end">3:00 pm</span>
					<span class="timezone">EDT</span>
				</div>
			</div>
		</div>
		<div class="calendar-event">
			<div class="list-date">
				<span class="list-dayname">Fri</span>
				<span class="list-daynumber">14</span>
			</div>
			<div class="list-info">
				<h2 class="tribe-events-title">
					<a href="https://inn.org/event/sustain-local-2016/" rel="bookmark">INN Tech Team Office Hours</a>
				</h2>
				<div class="tribe-events-duration">
					<span class="tribe-event-date-start">October 14 @ 2:00pm</span> -
					<span class="tribe-event-date-end">3:00pm</span>
					<span class="timezone">EDT</span>
				</div>
			</div>
		</div>
		<p class="morelink"><a href="/news/">View More...</a></p>
	</aside>
</div>
