<section id="about" class="normal">
	<div class="content">
		<h3><span>About INN</span></h3>
		<div class="row-fluid">
			<div class="span4">
				<a href="http://www.inn.org/about/"><img class="icon" src="../../images/mission.svg"></a>
				<h5><a href="http://www.inn.org/about/">Mission</a></h5>
				<p>How we started, what we do and why</p>
			</div>
			<div class="span4">
				<a href="http://www.inn.org/members/"><img class="icon" src="../../images/memberdirectory.svg"></a>
				<h5><a href="http://www.inn.org/members/">Our Members</a></h5>
				<p>100+ nonprofits publishing news in the public interest</p>
			</div>
			<div class="span4">
				<a href="http://www.inn.org/news/"><img class="icon" src="../../images/news.svg"></a>
				<h5><a href="http://www.inn.org/news/">News</a></h5>
				<p>The lastest news about our programs</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<a href="http://www.inn.org/financials/"><img class="icon" src="../../images/financial.svg"></a>
				<h5><a href="http://www.inn.org/financials/">Financial</a></h5>
				<p>How we're funded, tax forms and our major donors</p>
			</div>
			<div class="span4">
				<a href="http://www.inn.org/people/"><img class="icon" src="../../images/people.svg"></a>
				<h5><a href="http://www.inn.org/people/">People</a></h5>
				<p>Our staff and board</p>
			</div>
			<div class="span4">
				<a href="http://www.inn.org/contact/"><img class="icon" src="../../images/news.svg"></a>
				<h5><a href="http://www.inn.org/contact/">Contact</a></h5>
				<p>We'd love to hear from you</p>
			</div>
		</div>
	</div>