<section id="hire-us" class="interstitial">
	<div class="content">
		<h3>Need a little extra help?</h3>
		<p>We offer affordable consulting services (at an even more discounted rate for members)</p>
		<div class="row-fluid">
			<div class="span4">
				<a href="https://inn.org/project/industry-resources/"><img class="icon" src="../../images/hire_webdev.svg"></a>
				<h5><a href="https://inn.org/project/industry-resources/">Web Design + Development</a></h5>
				<p>From full redesigns and CMS migrations to technology audits—and more.</p>
			</div>
			<div class="span4">
				<a href="https://inn.org/project/education/"><img class="icon" src="../../images/hire_strategy.svg"></a>
				<h5><a href="https://inn.org/project/education/">Business + Growth Strategy</a><h5>
				<p>Sustainable revenue and audience development for nonprofit news organizations.</p>
			</div>
			<div class="span4">
				<a href="https://inn.org/project/fiscal-sponsorship/"><img class="icon" src="../../images/hire_apps.svg"></a>
				<h5><a href="https://inn.org/project/fiscal-sponsorship/">News Application</a></h5>
				<p>Data analysis and visualization for special editorial projects.</p>
			</div>
	</div>
	<a class="btn btn-primary" href="https://inn.org/hire-us/">Learn more about hiring INN</a>
</section>
