<section id="hire-us" class="interstitial">
	<div class="content">
		<h3>Need a little extra help?</h3>
		<p>We offer affordable consulting services (at an even more discounted rate for members)</p>
		<div class="row-fluid">
			<div class="span4">
				<a href="https://inn.org/project/industry-resources/"><img class="icon" src="../../images/icons/journobiz.svg"></a>
				<h5><a href="https://inn.org/project/industry-resources/">Business Resources</a></h5>
				<p>Our trade publication and guides for running a nonprofit newsroom.</p>
			</div>
			<div class="span4">
				<a href="https://inn.org/project/education/"><img class="icon" src="../../images/icons/education.svg"></a>
				<h5><a href="https://inn.org/project/education/">Education</a><h5>
				<p>Learn from the best in the business.</p>
			</div>
			<div class="span4">
				<a href="https://inn.org/project/fiscal-sponsorship/"><img class="icon" src="../../images/icons/fiscalsponsor.svg"></a>
				<h5><a href="https://inn.org/project/fiscal-sponsorship/">Fiscal Sponsorship</a></h5>
				<p>Don’t have your own 501(c)3 yet? We can help.</p>
			</div>
		<a class="btn btn-primary" href="https://inn.org/hire-us/">Learn more about hiring INN</a>
	</div>
</section>
