<section id="about" class="normal">
	<div class="content">
		<h3><span>Our Members</span></h3>
		<div class="inn-members-widget">
			<ul class="members">
				<li>
					<a href="https://inn.org/author/100reporters/" class="member-thumb" title="100Reporters">
	        			<img alt="" src="../../images/482907_572384362790610_130788531_n1.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/sxd1432155894-2/" class="member-thumb" title="Alabama Initiative for Independent Journalism">
	        			<img alt="" src="../../images/1fe05c5778c464288e2d37064053620e-140x140.jpeg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/alicia-patterson-foundation/" class="member-thumb" title="Alicia Patterson Foundation">
	        			<img alt="" src="../../images/1065_38469377147_3524_n-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/qwv1431641332-2-2/" class="member-thumb" title="The Anthropocene Magazine">
	        			<img alt="" src="../../images/eb52b62c365750bfdee11e4dcdc71c76-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/arizona-center-investigative-reporting/" class="member-thumb" title="Arizona Center for Investigative Reporting">
	        			<img alt="" src="../../images/9ac7a1d8023cca89cece59e664c9da81-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/aspen-journalism/" class="member-thumb" title="Aspen Journalism">
	        			<img alt="" src="../../images/405442_495447083801848_1336793317_n-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/austin-bulldog/" class="member-thumb" title="Austin Bulldog">
	        			<img alt="" src="../../images/24167_108589492513409_977377_n-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/11a1430522733-2/" class="member-thumb" title="Baltimore Brew">
	        			<img alt="" src="../../images/bac6f61a293089b1db0823561346a400-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/igs1437085138-2/" class="member-thumb" title="Bridge Magazine">
	        			<img alt="" src="../../images/f9edfeafbf4fe8f10dc95ddd77d71d46-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/broward-bulldog/" class="member-thumb" title="Florida Bulldog">
	        			<img alt="" src="../../images/bulldogNEWsmall-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/calmatters/" class="member-thumb" title="CALmatters">
	        			<img alt="" src="../../images/19092da278d8d25cee78041a1c29585e-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/carolina-public-press/" class="member-thumb" title="Carolina Public Press">
	        			<img alt="" src="../../images/4b60e34f3edae9cede1732f041700fc5-140x140.jpeg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/catalyst-chicago/" class="member-thumb" title="Catalyst Chicago">
	        			<img alt="" src="../../images/fee3d25647874b2c9979b488d35bf08f-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/center-investigative-reporting/" class="member-thumb" title="Center for Investigative Reporting">
	        			<img alt="" src="../../images/dbbb5afe2d2643941d72e5ec3bee826b-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/center-public-integrity/" class="member-thumb" title="Center for Public Integrity">
	        			<img alt="" src="../../images/6gdri0exvmlzobo63ajh-140x140.jpeg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/centro-de-periodismo-investigativo/" class="member-thumb" title="Centro de Periodismo Investigativo">
	        			<img alt="" src="../../images/np5geksxth798wmrb2oo-140x140.jpeg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/education-news-colorado-2/" class="member-thumb" title="Chalkbeat">
	        			<img alt="" src="../../images/cdda0b8583db476e6f66ca697c5d9820-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/n8u1426622840-2/" class="member-thumb" title="Charlottesville Tomorrow">
	        			<img alt="" src="../../images/52831ff2cf4bfcd7ccf0350723a50b23-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/chicago-reporter/" class="member-thumb" title="Chicago Reporter">
	        			<img alt="" src="../../images/1655c18249dd7a9a9b87d4afb84fc234-140x140.jpeg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/chicagotalks/" class="member-thumb" title="ChicagoTalks">
	        			<img alt="" src="../../images/chicago-talks-sq-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/city-limits-new-york/" class="member-thumb" title="City Limits, New York">
	        			<img alt="" src="../../images/City_Limits_Logo-140x140.gif" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/civiclab/" class="member-thumb" title="CivicLab">
	        			<img alt="" src="../../images/ce75617076a04631a52f3d98b5c4c921-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/civicstory/" class="member-thumb" title="CivicStory">
	        			<img alt="" src="../../images/bb0001c00e041167d274960b6d6a763b-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/honolulu-civil-beat/" class="member-thumb" title="Honolulu Civil Beat">
	        			<img alt="" src="../../images/9776cb567f09e65818a4cfd48dd59512-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/connecticut-health-investigative-team/" class="member-thumb" title="Connecticut Health Investigative Team">
	        			<img alt="" src="../../images/cthit-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/ct-mirror/" class="member-thumb" title="CT Mirror">
	        			<img alt="" src="../../images/ct-mirror1.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/zhi1426091163-2/" class="member-thumb" title="Current">
	        			<img alt="" src="../../images/a456365332daa311597fc976a5132ba6-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/environmental-health-news/" class="member-thumb" title="Environmental Health News">
	        			<img alt="" src="../../images/EHNlogo-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/eye-ohio/" class="member-thumb" title="Eye on Ohio">
	        			<img alt="" src="../../images/72177_358430267594315_1110335293_n-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/fairwarning/" class="member-thumb" title="FairWarning">
	        			<img alt="" src="../../images/FairWarning-Twitter_icon-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/florida-center-investigative-reporting/" class="member-thumb" title="Florida Center for Investigative Reporting">
	        			<img alt="" src="../../images/FCR-TwitterFB-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/food-and-environment-reporting-network/" class="member-thumb" title="Food and Environment Reporting Network (FERN)">
	        			<img alt="" src="../../images/fern-tree.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/m2g1431640867-2/" class="member-thumb" title="Georgia Health News">
	        			<img alt="" src="../../images/20dd7763034554d2657edc19557a0b7e-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/georgia-news-lab/" class="member-thumb" title="Georgia News Lab">
	        			<img alt="" src="../../images/0a22b994a166dd5f8bf9847b14a23822.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/global-center-investigative-journalism/" class="member-thumb" title="Global Investigative Journalism Network">
	        			<img alt="" src="../../images/Screen_shot_2010-04-15_at___April_15__11.28.33_AM-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/tides-center-2-2/" class="member-thumb" title="G.W. Williams Center for Independent Journalism">
	        			<img alt="" src="../../images/84063302376cb41cc8a4c1bc8dd81455-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/hidden-city-philadelphia/" class="member-thumb" title="Hidden City Philadelphia">
	        			<img alt="" src="../../images/e6cff6c41aeea418053ffd21257d94f1-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/a031428539129-2/" class="member-thumb" title="In These Times">
	        			<img alt="" src="../../images/07ce3602d722b5f0bf6351ecc4cc3889-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/inewsource/" class="member-thumb" title="inewsource">
	        			<img alt="" src="../../images/axxrx2w3vw74tsttgh1m-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/zhq1445890083-2/" class="member-thumb" title="InjusticeWatch">
	        			<img alt="" src="../../images/7dbbd68d6d7a911f64840c947ddf8f8a-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/innovation-trail/" class="member-thumb" title="WXXI LJC Innovation Trail">
	        			<img alt="" src="../../images/youtubei-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/ty71432153385-2-2/" class="member-thumb" title="InquireFirst">
	        			<img alt="" src="../../images/4b73cfd1c7b53470d35c4701bf3e5040-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/investigatewest/" class="member-thumb" title="InvestigateWest">
	        			<img alt="" src="../../images/icon128.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/investigative-fund-nation-institute/" class="member-thumb" title="Investigative Fund at the Nation Institute">
	        			<img alt="" src="../../images/a9nat8yf24ere9w3tx2h-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/investigative-post/" class="member-thumb" title="Investigative Post">
	        			<img alt="" src="../../images/ipostnews-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/investigative-reporting-workshop-american-universi/" class="member-thumb" title="Investigative Reporting Workshop at American University">
	        			<img alt="" src="../../images/irw_banner-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/iowa-center-public-affairs-journalism/" class="member-thumb" title="Iowa Center for Public Affairs Journalism">
	        			<img alt="" src="../../images/6475b8024a2d3871c484a3f95a31c9dd-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/juvenile-justice-information-exchange/" class="member-thumb" title="Juvenile Justice Information Exchange">
	        			<img alt="" src="../../images/jjiesquare-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/lci1427145635-2/" class="member-thumb" title="Kentucky Center for Investigative Reporting">
	        			<img alt="" src="../../images/7e81fd0ff1139d18fb5cc2010672d150-140x140.jpeg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/khi-news-service/" class="member-thumb" title="Kansas Health Institute News Service">
	        			<img alt="" src="../../images/KHI-Logo.jpg" height="96" width="96">
	        		</a>
	        	</li>
				<li>
					<a href="https://inn.org/author/lens/" class="member-thumb" title="The Lens NOLA">
	        			<img alt="" src="../../images/63c948c27a7fd35be0939f3b907e052e-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/maine-center-public-interest-reporting/" class="member-thumb" title="Maine Center for Public Interest Reporting">
	        			<img alt="" src="../../images/148944_218303014954546_1938064505_n-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/maplight/" class="member-thumb" title="Maplight">
	        			<img alt="" src="../../images/374307_10150359119276884_325344564_n-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/maryland-reporter/" class="member-thumb" title="Maryland Reporter">
	        			<img alt="" src="../../images/marylandreporter1-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/midwest-center-for-investigative-reporting/" class="member-thumb" title="Midwest Center for Investigative Reporting">
	        			<img alt="" src="../../images/873a55a25cbb304836237eb12988754a-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/midwest-energy-news/" class="member-thumb" title="Midwest Energy News">
	        			<img alt="" src="../../images/edaccd0d90bda1ebffe1841c1c2ae49f-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/minnpostcom/" class="member-thumb" title="MinnPost">
	        			<img alt="" src="../../images/u84l01aeoqes2e7r3g2f-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/mississippi-today/" class="member-thumb" title="Mississippi Today">
	        			<img alt="" src="../../images/67b143d8737a6814b3b3e35cb036c146-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/mongabay/" class="member-thumb" title="Mongabay">
	        			<img alt="" src="../../images/9feebd371f60758f7288aea18ba6ff3b-140x140.jpeg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/montana-center-for-investigative-reporting/" class="member-thumb" title="Montana Center for Investigative Reporting">
	        			<img alt="" src="../../images/mtcir-twitter_white-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/s5y1456981774-2/" class="member-thumb" title="Montana Free Press">
	        			<img alt="" src="../../images/10e4d9ca0805806a93e92c0fdeb497f8-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/mother-jones/" class="member-thumb" title="Mother Jones">
	        			<img alt="" src="../../images/twitter-logo128.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/0yb1458169227-2/" class="member-thumb" title="National Housing Institute/Shelterforce Magazine">
	        			<img alt="" src="../../images/b08ecf34dacc32d9c93fcf9caf4141ac-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/national-institute-computer-assisted-reporting/" class="member-thumb" title="National Institute for Computer-Assisted Reporting">
	        			<img alt="" src="../../images/391881_10150429449140929_123145586_n-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/national-institute-money-state-politics/" class="member-thumb" title="National Institute on Money in State Politics">
	        			<img alt="" src="../../images/nimsp_logo-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/new-england-center-investigative-reporting/" class="member-thumb" title="New England Center for Investigative Reporting">
	        			<img alt="" src="../../images/NECIR_Thumbnail_Icon_200-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/1o91432233339-2/" class="member-thumb" title="New Hampshire Center for Public Interest Journalism">
	        			<img alt="" src="../../images/ada629db2c87442f80868871f013ce04.gif" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/new-haven-independent/" class="member-thumb" title="New Haven Independent">
	        			<img alt="" src="../../images/indyman_bigger.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/new-mexico-in-depth/" class="member-thumb" title="New Mexico In-Depth">
	        			<img alt="" src="../../images/nmid-140x140.jpeg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/newsdesk-org/" class="member-thumb" title="Newsdesk.org">
	        			<img alt="" src="../../images/newsdesk-square-logo.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/nj-spotlight/" class="member-thumb" title="NJ Spotlight">
	        			<img alt="" src="../../images/NJSlogotwitter2-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/north-carolina-health-news/" class="member-thumb" title="North Carolina Health News">
	        			<img alt="" src="../../images/nc-health-news-logo-140x118.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/oklahoma-watch/" class="member-thumb" title="Oklahoma Watch">
	        			<img alt="" src="../../images/d26f104e9918233684227768460e8526-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/opensecretsorg/" class="member-thumb" title="OpenSecrets.org">
	        			<img alt="" src="../../images/crpeye.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/pacific-news-servicenew-america-media/" class="member-thumb" title="Pacific News Service/New America Media">
	        			<img alt="" src="../../images/Picture_1-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/philadelphia-public-school-notebook/" class="member-thumb" title="Philadelphia Public School Notebook">
	        			<img alt="" src="../../images/fbsquare-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/nj71432660296-2/" class="member-thumb" title="Highlands Current Inc.">
	        			<img alt="" src="../../images/ca383ec56e60e4ae553d6f964d45f88b-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/propublica/" class="member-thumb" title="ProPublica">
	        			<img alt="" src="../../images/ca383ec56e60e4ae553d6f964d45f88b-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/public-herald/" class="member-thumb" title="Public Herald">
	        			<img alt="" src="../../images/5e73155d99b80646c1a65212b4802267-140x140.jpeg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/publicsource/" class="member-thumb" title="PublicSource">
	        			<img alt="" src="../../images/43a27cb9aca9637ef8e1814c3ac80073-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/pulitzer-center-crisis-reporting/" class="member-thumb" title="Pulitzer Center on Crisis Reporting">
	        			<img alt="" src="../../images/pc-twitter.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/raleigh-public-record/" class="member-thumb" title="Raleigh Public Record">
	        			<img alt="" src="../../images/2395726d76788dcd09369c30ace34408-140x140.jpeg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/xhe1450724740-2/" class="member-thumb" title="Rivard Report">
	        			<img alt="" src="../../images/3dc6642f67e3a024a5b79379cfe36e9d-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/rocky-mountain-investigative-news-network/" class="member-thumb" title="Rocky Mountain PBS">
	        			<img alt="" src="../../images/b26423f680bb850bbf6cbab3896d0ce6-140x140.jpeg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/san-juan-independent/" class="member-thumb" title="San Juan Independent">
	        			<img alt="" src="../../images/708eab976f6db25cf5901f85e946ed60-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/schuster-institute-investigative-journalism-brande/" class="member-thumb" title="Schuster Institute for Investigative Reporting">
	        			<img alt="" src="../../images/8222_149848582468_2841546_n-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/seattle-globalist/" class="member-thumb" title="The Seattle Globalist">
	        			<img alt="" src="../../images/seattle-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/sf-public-press/" class="member-thumb" title="San Francisco Public Press">
	        			<img alt="" src="../../images/4344c57816c934c671cb879739899812-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/5e61438628138-2/" class="member-thumb" title="Signcasts">
	        			<img alt="" src="../../images/b6ff349b7b7e4d5ff416001da6161e7e.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/southern-investigative-reporting-foundation/" class="member-thumb" title="Southern Investigative Reporting Foundation">
	        			<img alt="" src="../../images/32304_474856445885989_604731145_n-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/st-louis-public-radio/" class="member-thumb" title="St. Louis Public Radio">
	        			<img alt="" src="../../images/0ec8492a0b52a99846da890d93af7638-140x140.jpeg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/sunlight-foundation/" class="member-thumb" title="Sunlight Foundation">
	        			<img alt="" src="../../images/ain47nrnyu80h9hjeo8q-140x140.jpeg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/texas-tribune/" class="member-thumb" title="Texas Tribune">
	        			<img alt="" src="../../images/TT-Tweet-icon-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/the-better-government-association/" class="member-thumb" title="The Better Government Association">
	        			<img alt="" src="../../images/511d07afbdad0fa193af320e93ffafae-140x140.jpeg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/the-crime-report/" class="member-thumb" title="The Crime Report">
	        			<img alt="" src="../../images/45a3a04c177041a1a575afb4fd55382f-140x140.jpeg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/the-daily-climate/" class="member-thumb" title="The Daily Climate">
	        			<img alt="" src="../../images/DailyClimatelogo-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/the-reporters-inc/" class="member-thumb" title="The Reporters, Inc.">
	        			<img alt="" src="../../images/f4858d66d29090540ff1c1b2b00dcecc-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/blesser-2/" class="member-thumb" title="TrueSpeech">
	        			<img alt="" src="../../images/bdfe3cbe18c24e514e25dd1e569ae9d2-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/tucson-sentinel/" class="member-thumb" title="Tucson Sentinel">
	        			<img alt="" src="../../images/hugo_crop-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/twin-cities-media-alliance/" class="member-thumb" title="Twin Cities Media Alliance">
	        			<img alt="" src="../../images/e5cb51d3bc3fec9960841972fa18de74-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/voice-oc/" class="member-thumb" title="Voice of OC">
	        			<img alt="" src="../../images/22554_292551307373_292489452373_3599680_2041210_n-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/voice-san-diego/" class="member-thumb" title="Voice of San Diego">
	        			<img alt="" src="../../images/vsd-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/vtdiggerorg/" class="member-thumb" title="VTDigger">
	        			<img alt="" src="../../images/VTDiggerAvatar-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/hv21445888787-2/" class="member-thumb" title="The War Horse">
	        			<img alt="" src="../../images/2ce3e9ed66aa06d7df16e19995654b5a-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/wisconsin-center-investigative-journalism/" class="member-thumb" title="Wisconsin Center for Investigative Journalism">
	        			<img alt="" src="../../images/logo2-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/womens-enews/" class="member-thumb" title="Women's eNews">
	        			<img alt="" src="../../images/f162038f-739f-42ec-b4d1-63c5be081402-140x140.jpg" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/wyofile/" class="member-thumb" title="WyoFile">
	        			<img alt="" src="../../images/square_logo-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/wyofile/" class="member-thumb" title="WyoFile">
	        			<img alt="" src="../../images/ztb5h8otnhfn534kewh1-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
	        	<li>
					<a href="https://inn.org/author/youth-today/" class="member-thumb" title="Youth Today">
	        			<img alt="" src="../../images/7b44d196fda9000a48371fb76ac522ad-140x140.png" height="96" width="96">
	        		</a>
	        	</li>
			</ul>
		</div>
	</div>