<section id="testimonial" class="interstitial branding">
	<div class="content">
		<img src="../../images/lahood.jpg">
		<p>“More than anything, INN has given us a sense that we are not toiling in isolation, that we are part of a larger community of nonprofit news organizations that are thriving through collaboration, pursuit of common goals and expression of mutual support.”</p>
		<p class="credit">– Lila Lahood, <a href="http://sfpublicpress.org">San Francisco Public Press</a></p>
	</div>
</section>
<section id="testimonial" class="interstitial branding">
	<div class="content">
		<img src="../../images/horvit.jpg">
		<p>“INN provides support and business-model training for nonprofit news organizations, helping to create a solid foundation upon which they can build.”</p>
		<p class="credit">– Mark Horvit, <a href="http://nicar.org">National Institute for Computer Assisted Reporting</a></p>
	</div>
</section>