<div id="content" class="stories">
	<h1 class="entry-title">Network News</h1>
	<article>
		<div class="entry-content">
			<h5 class="top-tag"><a href="https://inn.org/category/announcements/">Announcements</a></h5>
			<h2><a href="https://inn.org/2016/10/how-we-turned-nonprofit-news-leaders-into-budding-product-managers-at-innproduct/">How We Turned Nonprofit News Leaders Into Budding Product Managers at #INNProduct</a></h2>
			<p>The goal was to help them become more effective at managing technology at their organizations while also providing an introduction to design thinking and product management.</p>
		</div>
	</article>
	<article>
		<div class="entry-content">
			<h5 class="top-tag"><a href="https://inn.org/category/announcements/">Announcements</a></h5>
			<h2><a href="https://inn.org/2016/08/hsiu-mei-wong-named-to-board-of-directors-of-the-institute-for-nonprofit-news/">Hsiu Mei Wong Named to Board of Directors  of the Institute for Nonprofit News</a></h2>
			<p>International business and strategy consultant Hsiu Mei Wong has been named to the board of directors of the Institute for Nonprofit News, a nationwide network of investigative and public service news outlets.</p>
		</div>
	</article>
	<article>
		<div class="entry-content">
			<h5 class="top-tag"><a href="https://inn.org/category/announcements/">Announcements</a></h5>
			<h2><a href="https://inn.org/2016/08/laura-frank-to-chair-inn-board-of-directors/">Laura Frank to Chair INN Board of Directors</a></h2>
			<p>Directors of the Institute for Nonprofit News have elected Laura Frank, president and general manager of news at Rocky Mountain PBS, as board chair for the nationwide network of investigative and public service news organizations.</p>
		</div>
	</article>
	<article>
		<div class="entry-content">
			<h5 class="top-tag"><a href="https://inn.org/category/announcements/">Announcements</a></h5>
			<h2><a href="https://inn.org/2016/08/welcome-rc-lations-to-our-team/">Welcome RC Lations To Our Team!</a></h2>
			<p>RC comes to INN most recently from a marketing firm in Portland, Maine, where he's held roles as a developer, project manager, and product manager, focusing primarily on data-driven marketing programs and website performance metrics.</p>
		</div>
	</article>
	<article>
		<div class="entry-content">
			<h5 class="top-tag"><a href="https://inn.org/category/announcements/">Announcements</a></h5>
			<h2><a href="https://inn.org/2016/06/gijn-launches-as-independent-nonprofit/">GIJN launches as independent nonprofit</a></h2>
			<p>The Institute for Nonprofit News (INN) is pleased to recognize the launch of the Global Investigative Journalism Network as an independent nonprofit news organization.</p>
		</div>
	</article>
	<article>
		<div class="entry-content">
			<h5 class="top-tag"><a href="https://inn.org/category/announcements/">Announcements</a></h5>
			<h2><a href="https://inn.org/2016/06/bruce-theriault-named-to-board-of-directors-of-the-institute-for-nonprofit-news/">Bruce Theriault Named to Board of Directors of the Institute for Nonprofit News</a></h2>
			<p>Bruce Theriault, former Corporation for Public Broadcasting senior vice president for journalism and radio, is one of four new directors appointed to the board of the Institute for Nonprofit News, a nationwide network of investigative and public service news outlets.</p>
		</div>
	</article>
	<article>
		<div class="entry-content">
			<h5 class="top-tag"><a href="https://inn.org/category/announcements/">Announcements</a></h5>
			<h2><a href="https://inn.org/2016/06/four-nonprofit-news-leaders-running-for-inn-board/">Four Nonprofit News Leaders Running for INN Board</a></h2>
			<p>Four candidates have filed for four member-elected seats on the INN board.</p>
		</div>
	</article>
	<article>
		<div class="entry-content">
			<h5 class="top-tag"><a href="https://inn.org/category/announcements/">Announcements</a></h5>
			<h2><a href="https://inn.org/2016/05/inn-seeks-candidates-to-fill-four-member-seats/">Four Board Member Seats up for Election in June</a></h2>
			<p>On June 16th, 2016, INN will hold elections for four member directors for the board of directors as per our bylaws.</p>
		</div>
	</article>
	<article>
		<div class="entry-content">
			<h5 class="top-tag"><a href="https://inn.org/category/announcements/">Announcements</a></h5>
			<h2><a href="https://inn.org/2016/05/inn-day-offers-two-unique-workshops-on-marketing-and-donor-cultivation/">INN Day Offers Two Unique Workshops on Marketing and Donor Cultivation</a></h2>
			<p>INN members and other newsroom leaders who want to sharpen their branding and marketing positions and cultivate more major donors are invited to register for two special INN events in June.</p>
		</div>
	</article>
	<article>
		<div class="entry-content">
			<h5 class="top-tag"><a href="https://inn.org/category/announcements/">Announcements</a></h5>
			<h2><a href="https://inn.org/2016/01/inn-announces-15-winners-in-fourth-round-of-innovation-fund/">INN Announces 15 Winners in Fourth Round of INNovation Fund</a></h2>
			<p>They represent $416,000 in projects that test new ways of funding and distributing great journalism and engaging people around news and public issues.</p>
		</div>
	</article>
	<nav id="nav-below">
		<div class="load-more">
			<a href="https://inn.org/about/news/page/2" class="btn-next">Load more articles</a>
		</div>
	</nav>
</div>