<div class="entry-content">
	<h5 class="top-tag">Top Tag</h5>
		<div class="thumbnail-img">
			<img width="140" height="140" src="{{ img.square.src }}" alt="{{ img.square.alt }}"/>
		</div>
	<h4><a href="#">Lorem Ipsum Dolor Amet Sit</a></h4>
	<p>Izzle crazy tempizzle sizzle. We gonna chung gangsta get down get down fo shizzle turpizzle. Away break it down black. Pellentesque bling bling rhoncus fo shizzle. In hac the bizzle platea dictumst. Black dapibizzle. Crackalackin.
	</p>
</div>

<!--
<div class="block block-thumb">
    <a href="#" class="b-inner">
		<div class="b-thumb">
			{{> atoms-square }}
		</div>
		<div class="b-text">
			<h2 class="headline">{{ headline.short }}</h2>
			<p>{{ excerpt.medium }}</p>
		</div>
	</a>
</div>
