<div class="entry-content">
	<h5 class="top-tag">Top Tag</h5>
	<h4><a href="#">Lorem Ipsum Dolor Amet Sit</a></h4>
	<p>Izzle crazy tempizzle sizzle. We gonna chung gangsta get down get down fo shizzle turpizzle. Away break it down black. Pellentesque bling bling rhoncus fo shizzle. In hac the bizzle platea dictumst. Black dapibizzle. Crackalackin.
	</p>
</div>

<!--
<div class="block block-headline">
	<a href="#">
		<h2 class="headline">Headline: Lorem Ipsum Dolor Amet Sit</h2>
		{{> atoms-time }}
	</a>
</div>