<section class="hero" id="hero-newsletter">
	<div class="content">
		<h2>Stay updated on nonprofit journalism.</h2>
		<p>Grant opportunities, job listings, upcoming events and top stories from our members, all in our INN Newsletter </p>
		<form action="//investigativenewsnetwork.us1.list-manage.com/subscribe/post?u=81670c9d1b5fbeba1c29f2865&amp;id=1476113985" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
			<fieldset>
				<input required="" type="email" value="" name="EMAIL" class="required email_address" id="mce-EMAIL" placeholder="Email address">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn submit">
				<div style="position: absolute; left: -5000px;"><input type="text" name="81670c9d1b5fbeba1c29f2865_1476113985" tabindex="-1" value=""></div>
				<div class="error"></div>
			</fieldset>
		</form>
	</div>
</section>