<section class="hero" id="hero-branding">
	<div class="content">
		<h2>Nourishing and sustaining media<br>to better serve the public</h2>
		<p>We are the Institute for Nonprofit News, <br> dedicated to supporting mission-driven journalism</p>
		<div id="hero-description">
			<div class="clearfix">
				<div class="span5">
					<img src="../../images/Hero-branding-symbol-icons-01.svg" width=100px>
					<a href="https://inn.org/about/" class="btn" id="about">About Us</a>
					<span id="icon-description">Who we are and <br>our mission</span>
				</div>
				<div class="span5">
					<img src="../../images/Hero-branding-symbol-icons-02.svg" width=100px>
					<a href="https://inn.org/programs/" class="btn" id="services">Our Services</a>
					<span id="icon-description">From business resources to tech support</span>
				</div>
				<div class="span5">
					<img src="../../images/Hero-branding-symbol-icons-03.svg" width=100px>
					<a href="https://inn.org/donate/" class="btn" id="donate">Donate</a>
					<span id="icon-description">Support our work</span>
				</div>
			</div>
		</div>
	</div>
</section>