<section class="hero" id="hero-training">
	<div class="content">
		<h2>We support quality news. <br> Come learn with us.</h2>
		<p>Webinars and training events to advance your newsroom</p>
		<a href="https://inn.org/events/" class="btn">Calendar</a>
		<div id="upcoming-event">
			<div id="calendar-and-description" class="clearfix">
				<div id="event-calendar">
					<span id="top-month">Jan</span>
					<span id="bottom-date">16</span>
				</div>
				
				<div id="event-description">
					<h4>Grow and Sustain your Donor Base</h4>
					<p>Kick off the new year with some ideas and insights to increase revenue and grow your audience.</p>
					<a href="https://inn.org/event/didnt-see-the-election-bump-in-donations/">Learn More</a>
				</div>
			</div>
		</div>
	</div>
</section>