<div class="block block-headline">
	<h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h4>
	<!--
	<a href="#">
		<h2 class="headline">Headline: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
	</a>-->
</div>