<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #09C9FF;"></span>
		<span class="sg-label">Tabrizzzz</span>
		<span class="sg-label">#09C9FF</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #76F9EF;"></span>
		<span class="sg-label">Turquoise</span>
		<span class="sg-label">#76F9EF</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0FAE92;"></span>
		<span class="sg-label">Emerald</span>
		<span class="sg-label">#0FAE92</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F7F227;"></span>
		<span class="sg-label">Factory Yellow</span>
		<span class="sg-label">#F7F227</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F9D02B;"></span>
		<span class="sg-label">Citrine</span>
		<span class="sg-label">#F9D02B</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F77710;"></span>
		<span class="sg-label">Mandarin</span>
		<span class="sg-label">#F77710</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #DF4646;"></span>
		<span class="sg-label">Vermillion</span>
		<span class="sg-label">#DF4646</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EC50B7;"></span>
		<span class="sg-label">Fuscia</span>
		<span class="sg-label">#EC50B7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #6066DD;"></span>
		<span class="sg-label">Royal Blue</span>
		<span class="sg-label">#6066DD</span>
	</li>

</ul>