<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #1C1C1C;"></span>
		<span class="sg-label">Asphalt</span>
		<span class="sg-label">#1C1C1C</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #777777;"></span>
		<span class="sg-label">Mid-Grey-1</span>
		<span class="sg-label">#777777</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #909799;"></span>
		<span class="sg-label">Dolphin</span>
		<span class="sg-label">#909799</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #AAAAAA;"></span>
		<span class="sg-label">Mid-Grey-2</span>
		<span class="sg-label">#AAAAAA</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EDF1F4;"></span>
		<span class="sg-label">Smoke</span>
		<span class="sg-label">#EDF1F4</span>
	</li>
</ul>