<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #008aba;"></span>
		<span class="sg-label">Tabriz Blue</span>
		<span class="sg-label">PMS 640 U</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #6bd9de;"></span>
		<span class="sg-label">Turquoise</span>
		<span class="sg-label">PMS 318 U</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3e7c65;"></span>
		<span class="sg-label">Emerald</span>
		<span class="sg-label">PMS 7727 U</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffe800;"></span>
		<span class="sg-label">Factory Yellow</span>
		<span class="sg-label">PMS Yellow U</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffb511;"></span>
		<span class="sg-label">Citrine</span>
		<span class="sg-label">PMS 116 U</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff8038;"></span>
		<span class="sg-label">Mandarin</span>
		<span class="sg-label">PMS 1505 U</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cb4f53;"></span>
		<span class="sg-label">Vermillion</span>
		<span class="sg-label">PMS 1797 U</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #af4879;"></span>
		<span class="sg-label">Fuchsia</span>
		<span class="sg-label">PMS 227 U</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3f43ad;"></span>
		<span class="sg-label">Royal Blue</span>
		<span class="sg-label">PMS Blue 072 U</span>
	</li>
</ul>