<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #59D7FB;"></span>
		<span class="sg-label">Tabriz Blue</span>
		<span class="sg-label">#59D7FB</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #AFF9F4;"></span>
		<span class="sg-label">Turquoise</span>
		<span class="sg-label">#AFF9F4</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #36CBB0;"></span>
		<span class="sg-label">Emerald</span>
		<span class="sg-label">#36CBB0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F6F385;"></span>
		<span class="sg-label">Factory Yellow</span>
		<span class="sg-label">#F6F385</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFE074;"></span>
		<span class="sg-label">Citrine</span>
		<span class="sg-label">#FFE074</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FBA167;"></span>
		<span class="sg-label">Mandarin</span>
		<span class="sg-label">#FBA167</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E77071;"></span>
		<span class="sg-label">Vermillion</span>
		<span class="sg-label">#E77071</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FC75CE;"></span>
		<span class="sg-label">Fuchsia</span>
		<span class="sg-label">#FC75CE</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #7F85ED;"></span>
		<span class="sg-label">Royal Blue</span>
		<span class="sg-label">#7F85ED</span>
	</li>
</ul>