<p class="font-secondary">Primary font: "effra", Tahoma, helvetica, sans-serif;</p>
<p class="font-secondary"><em>Primary font italic: "effra", Tahoma, helvetica, sans-serif;</em></p>
<p class="font-secondary"><strong>Primary font bold: "effra", Tahoma, helvetica, sans-serif;</strong></p>
<p>Secondary font: "leitura-news", georgia, serif;</p>
<p><em>Secondary font italic: "leitura-news", georgia, serif;</em></p>
<p><strong>Secondary font bold: "leitura-news", georgia, serif;</strong></p>